<section class="login_container">
    <div class="login" style="text-align: center;">
        Welcome Customer <br />
        <a href="<?php echo $this->url('customer-survey'); ?>">Click Here to fill Survey Form</a>
    </div>
</section>