<section class="login_container">
    <div class="login">
        <?php
        $form = $this->customer_login;
        $form->prepare();
        ?>
        <h1><a href="/"><img src="img/logo-appleton.png"></a></h1>
        <?php echo $this->form()->openTag($form); ?>
        <?php
        $messages = $this->flashMessenger()->getMessages();
        if (!empty($messages)) {
            ?>
            <div style="padding:5px 30px 5px 16px;" class="alert <?php echo isset($messages[0]['error']) ? 'alert-danger' : 'alert-success'; ?> alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <?php echo isset($messages[0]['error']) ? $messages[0]['error'] : $messages[0]['success']; ?>
            </div>	
        <?php } ?>
        <p>
            <?php echo $this->formElement($form->get('email')); ?>
        </p>
        <span class="common-error-msg"><?php echo $this->formElementErrors($form->get('email')); ?></span>
        <p>
            <?php echo $this->formElement($form->get('password')); ?>
        </p>
        <span class="common-error-msg"><?php echo $this->formElementErrors($form->get('password')); ?></span>
<!--        <p class="remember_me">
        <label>
            <input type="checkbox" name="remember_me" id="remember_me">
            Remember me on this computer
        </label>
    </p>-->
        <p class="submit">
            <?php
            //echo $this->formRow($form->get('loginCsrf'));
            echo $this->formElement($form->get('submit'));
            ?>
    </div>
    <?php echo $this->form()->closeTag($form); ?>  
</div>

<div class="login-help">
    <p>Forgot your password? <a href="/forgot-password">Click here to reset it</a>.</p>
</div>
</section>