<div id="wrapper">
    <a href="/" class="logo-registation"><img src="img/logo-appleton.png"></a>
    <h1>Registation form </h1>
    <?php
    $form = $this->register_form;
    $form->prepare();
    echo $this->form()->openTag($form);
    ?>
    <div class="col-4">
        <label>
            First Name
            <?php echo $this->formElement($form->get('first_name')); ?>
            <span class="common-error-msg"><?php echo $this->formElementErrors($form->get('first_name')); ?></span>
        </label>
    </div>
    <div class="col-4">
        <label>
            Middle Name
            <?php echo $this->formElement($form->get('middle_name')); ?>
            <span class="common-error-msg"><?php echo $this->formElementErrors($form->get('middle_name')); ?></span>
        </label>
    </div>
    <div class="col-4">
        <label>
            Last Name
            <?php echo $this->formElement($form->get('last_name')); ?>
            <span class="common-error-msg"><?php echo $this->formElementErrors($form->get('last_name')); ?></span>
        </label>
    </div>
    <div class="col-4">
        <label>
            Email Address
            <?php echo $this->formElement($form->get('email')); ?>
            <span class="common-error-msg"><?php echo $this->formElementErrors($form->get('email')); ?></span>
        </label>
    </div>
    <div class="col-2">
        <label>
            Address Type
            <?php echo $this->formElement($form->get('address_type')); ?>
            <span class="common-error-msg"><?php echo $this->formElementErrors($form->get('address_type')); ?></span>
        </label>
    </div>
    <div class="col-2">
        <label>
            Country
            <?php echo $this->formElement($form->get('country')); ?>
            <span class="common-error-msg"><?php echo $this->formElementErrors($form->get('country')); ?></span>
        </label>
    </div>
    <div class="col-3">
        <label>
            Address
            <?php echo $this->formElement($form->get('address')); ?>
            <span class="common-error-msg"><?php echo $this->formElementErrors($form->get('address')); ?></span>
        </label>
    </div>
    <div class="col-3">
        <label>
            City
            <?php echo $this->formElement($form->get('city')); ?>
            <span class="common-error-msg"><?php echo $this->formElementErrors($form->get('city')); ?></span>
        </label>
    </div>
    <div class="col-3">
        <label>
            State
            <?php echo $this->formElement($form->get('state')); ?>
            <span class="common-error-msg"><?php echo $this->formElementErrors($form->get('state')); ?></span>
        </label>
    </div>
    <div class="col-4">
        <label>
            Postal
            <?php echo $this->formElement($form->get('postal_code')); ?>
            <span class="common-error-msg"><?php echo $this->formElementErrors($form->get('postal_code')); ?></span>
        </label>
    </div>
    <div class="col-4">
        <label>
            Phone Type
            <?php echo $this->formElement($form->get('phone_type')); ?>
            <span class="common-error-msg"><?php echo $this->formElementErrors($form->get('phone_type')); ?></span>
        </label>
    </div>
    <div class="col-4">
        <label>
            Int'I Prefix
            <?php echo $this->formElement($form->get('int_prefix')); ?>
            <span class="common-error-msg"><?php echo $this->formElementErrors($form->get('int_prefix')); ?></span>
        </label>
    </div>
    <div class="col-4">
        <label>
            *Phone
            <?php echo $this->formElement($form->get('contact_number')); ?>
            <span class="common-error-msg"><?php echo $this->formElementErrors($form->get('contact_number')); ?></span>
        </label>
    </div>
    <div class="col-submit">
                <?php
                //echo $this->formRow($form->get('loginCsrf'));
                echo $this->formElement($form->get('submit'));
                ?>
    </div>
    <?php echo $this->form()->closeTag($form); ?>  
</div>

<script>
    $.validator.addMethod("valueNotEquals", function (value, element, arg) {
        return arg != value;
    }, "Value must not equal arg.");

    $("#customer_register").validate({
        rules: {
            first_name: {required: true, minlength: 3},
            last_name: {required: true, minlength: 3},
            email: {required: true, email: true},
            address_type: {valueNotEquals: ""},
            country: {valueNotEquals: ""},
            address: {required: true},
            city: {required: true},
            state: {valueNotEquals: ""},
            postal_code: {required: true},
            phone_type: {valueNotEquals: ""},
            int_prefix: {required: true},
            contact_number: {required: true}
        },
        messages: {
            first_name: {
                required: "First Name can't be empty.",
                minlength: jQuery.validator.format("At least {0} characters required!")
            },
            last_name: {
                required: "Last Name can't be empty.",
                minlength: jQuery.validator.format("At least {0} characters required!")
            },
            email: {
                required: "Email address can't be empty.",
                email: "Enter a valid email address."
            },
            address_type: {valueNotEquals: "Please select Address Type."},
            country: {valueNotEquals: "Please select Country."},
            address: {required: "Please select address."},
            city: {required: "Please select city."},
            state: {valueNotEquals: "Please select state."},
            postal_code: {required: "Postal code can't be empty."},
            phone_type: {valueNotEquals: "Please select phone type."},
            int_prefix: {required: "Prefix can't be empty."},
            contact_number: {required: "Phone number can't be empty."}
        }
    });

    $(document).ready(function(){
        $("#country").on('change', function(){
            var countryID = $(this).val();
            $.ajax({
                type: 'POST',
                url: "/ajax-requests",
                data: {'action': 'states_by_country', 'countryId':countryID},
                dataType: 'json',
                success: function (data) {
                    var options;
                    options += '<option value="">-Select State-</option>';
                    $.each(data.states,function(index, val) {
                        options += '<option value="'+index+'">'+val+'</option>';
                    });
                    $("#int_prefix").val(data.country_phone_code);
                    $('#state').html(options);
                }
            });
        });
    });
</script>