<div class="container">
  <div style="padding:70px 0">
  <h2><strong>Thank you</strong> for registration with Appleton</h2>
  <p> Your registration has been completed successfully, your account has been under verification. Soon we will get in touch with you.</p>
  </div>
</div>