<!-- breadcrumbs -->
<div class="breadcrumbs">
  <?php $this->pageBreadcrumbs()->setItems(['Home'=>'','Consultants'=>'#']); echo $this->pageBreadcrumbs()->render(); ?>
</div>
<!-- /breadcrumbs -->

<?php $messages = $this->flashMessenger()->getMessages(); if(!empty($messages) && !is_array($messages[0])){ ?>
	<div style="padding:5px 30px 5px 16px; margin:10px;margin-top:35px;" class="alert alert-info alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	  	<?php echo $messages[0]; ?>
	</div>	
<?php } ?>

<!-- content main container -->
<div class="main">
	<!-- row -->
	<div class="row">
		<!-- col 12 -->
		<div class="col-md-12">
			<!-- tile -->
			<section class="tile cornered">
				<!-- tile header -->
				<div class="tile-header" style="padding-top:30px;">
					<h1><strong>Manage</strong> Consultant(s)</h1>
					<div class="controls"></div>
					<div class="pull-right">
						<form name="search_form" id="search_form" class="form-inline" method="post">
						  <div class="form-group mx-sm-3">
						    <label for="keyword" class="sr-only">Keyword</label>
						    <input type="text" class="form-control" id="keyword" name="keyword" placeholder="Keyword" value="<?php echo $this->keyword; ?>">
						  </div>
						  <input type="submit" name="search" class="btn btn-primary" value="Search" />
						  <input type="submit" name="reset" class="btn btn-primary" value="Reset" />
						</form>
						<button name="add-new" class="btn btn-primary">Add New</button> 
					</div>
				</div>
				<!-- /tile header -->

				<!-- tile body -->
				<div class="tile-body nopadding">

					<table class="table">
						<thead>
							<tr>
								<th>Sr. No.</th>
								<th>Name</th>
								<th>Email</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<?php if(!empty($this->institutions)): ?>
								<?php $iTrator = 1; foreach ($this->institutions as $institution): ?>
									<tr class="<?php echo ($iTrator%2 == 0) ? 'odd gradeX' : 'even gradeC'; ?>">
										<td><?php echo $iTrator; ?></td>
										<td><?php echo $institution['username']; ?></td>
										<td><?php echo $institution['email']; ?></td>
										<td class="center">
											<a href="#"><i class="fa fa-edit"></i></a>
											<a href="<?php echo $this->url('admin'); ?>/delete-institution/<?php echo $institution['id']; ?>"><i class="fa fa-trash-o"></i></a>
											<?php if($institution['is_active'] == '1'){ ?>
											<a href="<?php echo $this->url('admin'); ?>/deactivate-institution/<?php echo $institution['id']; ?>"><i class="fa fa-check-square-o"></i></a>
											<?php } ?>
											<?php if($institution['is_active'] == '0'){ ?>
											<a href="<?php echo $this->url('admin'); ?>/activate-institution/<?php echo $institution['id']; ?>"><i class="fa fa-check-square-o"></i></a>
											<?php } ?>
										</td>
									</tr>
								<?php $iTrator++; endforeach; ?>
							<?php endif; ?>							
						</tbody>
					</table>

				</div>
				<!-- /tile body -->
				<hr />
				<div class="pull-right">
                  <div class="row">
						<div class="col-xs-6">
							<div class="dataTables_info" id="example_info">Showing 1 to 10 of
								57 entries</div>
						</div>
						<div class="col-xs-6">
							<?php 
								echo $this->paginationControl(
							    	$this->institutions,
							    	'Sliding',
							    	'partial/pagination.phtml',
							    	['route' => 'admin/institutions']
								); 
							?>
						</div>
					</div>
                </div>

			</section>
			<!-- /tile -->
		</div>
		<!-- /col 12 -->
	</div>
	<!-- /row -->
</div>
<!-- /content container -->