<?php //echo $this->navigation('navigation')->menu(); die; ?>
<?= $this->doctype() ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?= $this->headTitle('BoMS | Administrator')->setSeparator(' - ')->setAutoEscape(false) ?>

        <?= $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?= $this->headLink(['rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'])
            ->prependStylesheet($this->basePath('admin_assets/css/bootstrap.min.css'))
            ->prependStylesheet($this->basePath('admin_assets/css/font-awesome.min.css'))
            //->prependStylesheet($this->basePath('admin_assets/css/fonts.googleapis.com.css'))
            //->prependStylesheet($this->basePath('admin_assets/css/ace.min.css'))
            //->prependStylesheet($this->basePath('admin_assets/css/ace-rtl.min.css'))
            //->prependStylesheet($this->basePath('admin_assets/css/ace.min.css'))
            ->prependStylesheet($this->basePath('admin_assets/css/animate.min.css'))
    		    //->prependStylesheet($this->basePath('admin_assets/css/rickshaw.min.css'))
    		    //->prependStylesheet($this->basePath('admin_assets/css/bootstrap-checkbox.css'))
    		    //->prependStylesheet($this->basePath('admin_assets/css/summernote.css'))
    		    //->prependStylesheet($this->basePath('admin_assets/css/summernote-bs3.css'))
    		    //->prependStylesheet($this->basePath('admin_assets/css/chosen.min.css'))
    		    //->prependStylesheet($this->basePath('admin_assets/css/chosen-bootstrap.css'))
    		    //->prependStylesheet($this->basePath('admin_assets/css/owl.carousel.css'))
    		    ->prependStylesheet($this->basePath('admin_assets/css/owl.theme.css'))
    		    //->prependStylesheet($this->basePath('admin_assets/js/plugins/tabdrop/css/tabdrop.css'))
            ->prependStylesheet($this->basePath('admin_assets/css/custom.css'))
    		    ->prependStylesheet($this->basePath('admin_assets/css/minoral.css'))
        ?>
  		  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  	    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  	    <!--[if lt IE 9]>
  	      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  	      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  	    <![endif]-->
		
        <?php echo $this->headScript()
            ->prependFile($this->basePath('/admin_assets/js/bootstrap.min.js'))
            ->prependFile($this->basePath('/admin_assets/js/jquery-3.1.0.min.js'))
        ?> 

    </head>
    <body class="brownish-scheme">

    <!-- Preloader -->
    <div class="mask"><div id="loader"></div></div>
    <!--/Preloader -->

    <!-- Wrap all page content here -->
    <div id="wrap">
      <!-- Make page fluid -->
      <div class="row">
        <!-- Fixed navbar -->
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
          <!-- Branding -->
          <div class="navbar-header col-md-2">
            <a class="navbar-brand" href="<?php echo $this->url('admin'); ?>">
              <strong>BoMS</strong> <span class="divider vertical"></span> Admin
            </a>
            <div class="sidebar-collapse">
              <a href="#">
                <i class="fa fa-bars"></i>
              </a>
            </div>
          </div>
          <!-- Branding end -->

          <!-- .nav-collapse -->
          <div class="navbar-collapse">
            <!-- Content collapsing at 768px to sidebar -->
            <div class="collapsing-content">
            
              <!-- Quick Actions -->
              <ul class="nav navbar-nav">

                <li class="divided">
                  <a href="<?php echo $this->url('admin/profile'); ?>" class="page-refresh" title="My Profile"><i class="fa fa-user"></i></a>
                  <span class="divider vertical"></span>
                </li>

                <li class="divided">
                  <a href="#" class="page-refresh" title="Settings"><i class="fa fa-cog"></i></a>
                  <span class="divider vertical"></span>
                </li>

                <li class="divided">
                  <a href="<?php echo $this->url('admin/logout'); ?>" class="page-refresh" title="Logout"><i class="fa fa-power-off"></i></a>
                </li>
                
              </ul>
              <!-- Quick Actions end -->

              <!-- User Controls -->
              <div class="user-controls">
                <ul>
                 
                  <li class="dropdown messages">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      Welcome <strong>Admin</strong>
                    </a>
                    
                  </li>

                  <li class="dropdown settings">
                    <a class="dropdown-toggle options" data-toggle="dropdown" href="#">
                      <i class="fa fa-cog"></i>
                    </a>
                    
                    <ul class="dropdown-menu arrow">

                      <li>
                        <a href="<?php echo $this->url('admin/profile'); ?>"><i class="fa fa-user"></i> Profile</a>
                      </li>

                      <li class="divider"></li>
                      
                      <li>
                        <a href="#"><i class="fa fa-calendar"></i> Settings</a>
                      </li>

                      <li class="divider"></li>

                      <li>
                        <a href="<?php echo $this->url('admin/logout'); ?>"><i class="fa fa-power-off"></i> Logout</a>
                      </li>
                    </ul>
                  </li>

                </ul>
              </div>
              <!-- User Controls end -->

            </div>
            <!-- /Content collapsing at 768px to sidebar -->

            <!-- Sidebar -->
            <ul class="nav navbar-nav side-nav" id="navigation">
              <li class="collapsed-content">
                <!-- Collapsed content pasting here at 768px -->
              </li>
              <li class="user-status status-online" id="user-status">
                <div class="profile-photo">
                  <!-- <img src="/admin_assets/images/profile-photo1.jpg" alt />  -->
                  <img src="#" alt />
                </div>
                <div class="user">
                  <strong>BoMS</strong>
                  <span class="role">Administrator</span>
                  <div class="status">
                    <ul>
                      <li class="dropdown change-status">
                        <a class="dropdown-toggle my-status" data-toggle="dropdown" href="#">Online</a>
                        
                        <ul class="dropdown-menu arrow">
                          <li>
                            <a href="#" id="status-online" data-status="status-online">Online</a>
                          </li>

                          <li>
                            <a href="#" id="status-away" data-status="status-away">Away</a>
                          </li>

                          <li>
                            <a href="#" id="status-invisible" data-status="status-invisible">Invisible</a>
                          </li>
                        </ul>
                      </li>
                    </ul>

                    
                  </div>
                </div>
              </li>
              <li <?php echo ($CURRENT_ROUTE_NAME=='admin/dashboard')?"class='active'":''; ?>>
                <a href="<?php echo $this->url('admin/dashboard'); ?>" class="dropdown-toggle" title="Dashboard">
                  <i class="fa fa-dashboard">
                    <span class="overlay-label red"></span>
                  </i> 
                  Dashboard
                </a>
              </li>
              <li class="dropdown <?php echo in_array($CURRENT_ROUTE_NAME, array('admin/institutions')) ? 'open' : ''; ?>">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Forms">
                  <i class="fa fa-list">
                    <span class="overlay-label green"></span>
                  </i>
                  USERS <b class="fa fa-angle-left dropdown-arrow"></b>
                </a>
                <ul class="dropdown-menu">
                  <!--<li <?php echo ($CURRENT_ROUTE_NAME=='admin/institutions')?"class='active'":''; ?>>
                    <a href="<?php echo $this->url('admin/institutions'); ?>" title="Common Elements">
                      <i class="fa fa-thumb-tack"><span class="overlay-label green80"></span></i>
                      Consultants
                    </a>
                  </li>-->
                  <li <?php echo ($CURRENT_ROUTE_NAME=='admin/customers')?"class='active'":''; ?>>
                    <a href="<?php echo $this->url('admin/customers'); ?>" title="">
                      <i class="fa fa-thumb-tack"><span class="overlay-label green80"></span></i>
                      Customers
                    </a>
                  </li>
                </ul>
              </li>
              <!--
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Interface">
                  <i class="fa fa-pencil">
                    <span class="overlay-label amethyst"></span>
                  </i>
                  SURVEYS <b class="fa fa-angle-left dropdown-arrow"></b>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="#" title="UI Elements">
                      <i class="fa fa-puzzle-piece"><span class="overlay-label amethyst80"></span></i>
                      Surveys
                    </a>
                  </li>
                </ul>
              </li>
              -->
              <li class="dropdown <?php echo in_array($CURRENT_ROUTE_NAME, array('admin/baseline-analysis','admin/needs-analysis')) ? 'open' : ''; ?>">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Interface">
                  <i class="fa fa-pencil">
                    <span class="overlay-label amethyst"></span>
                  </i>
                  OPERATIONS ANALYSIS <b class="fa fa-angle-left dropdown-arrow"></b>
                </a>
                <ul class="dropdown-menu">
                  <li <?php echo ($CURRENT_ROUTE_NAME=='admin/baseline-analysis')?"class='active'":''; ?>>
                    <a href="<?php echo $this->url('admin/baseline-analysis'); ?>" title="UI Elements">
                      <i class="fa fa-puzzle-piece"><span class="overlay-label amethyst80"></span></i>
                      Baseline/Stock Analysis
                    </a>
                  </li>
                  <!--
                  <li <?php echo ($CURRENT_ROUTE_NAME=='admin/needs-analysis')?"class='active'":''; ?>>
                    <a href="<?php echo $this->url('admin/needs-analysis'); ?>" title="UI Elements">
                      <i class="fa fa-puzzle-piece"><span class="overlay-label amethyst80"></span></i>
                      Needs analysis 
                    </a>
                  </li>
                  -->
                </ul>
              </li>
              <!--
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Interface">
                  <i class="fa fa-pencil">
                    <span class="overlay-label amethyst"></span>
                  </i>
                  STOCK TAKING <b class="fa fa-angle-left dropdown-arrow"></b>
                </a>
              </li>
              -->
              <li class="dropdown <?php echo in_array($CURRENT_ROUTE_NAME, array('admin/cba-staff-cost','admin/cba-process-cost', 'admin/cba-all-agencies', 'admin/cba-lta-cost','admin/cba-labour-cost','admin/cba-other-cost')) ? 'open' : ''; ?>">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Interface">
                  <i class="fa fa-pencil">
                    <span class="overlay-label amethyst"></span>
                  </i>
                  COST ANALYSIS <b class="fa fa-angle-left dropdown-arrow"></b>
                </a>
                <ul class="dropdown-menu">
                  <li <?php echo ($CURRENT_ROUTE_NAME=='admin/cba-staff-cost')?"class='active'":''; ?>>
                    <a href="<?php echo $this->url('admin/cba-staff-cost'); ?>" title="UI Elements">
                      <i class="fa fa-puzzle-piece"><span class="overlay-label amethyst80"></span></i>
                      CBA - Staff Cost
                    </a>
                  </li>
                  <li <?php echo ($CURRENT_ROUTE_NAME=='admin/cba-process-cost')?"class='active'":''; ?>>
                    <a href="<?php echo $this->url('admin/cba-process-cost'); ?>" title="UI Elements">
                      <i class="fa fa-puzzle-piece"><span class="overlay-label amethyst80"></span></i>
                      CBA - Process Cost 
                    </a>
                  </li>
                  <!--
                  <li>
                    <a href="<?php echo $this->url('admin/cba-all-agencies'); ?>" title="UI Elements">
                      <i class="fa fa-puzzle-piece"><span class="overlay-label amethyst80"></span></i>
                      CBA - All Agencies
                    </a>
                  </li>
                  -->
                  <li <?php echo ($CURRENT_ROUTE_NAME=='admin/cba-lta-cost')?"class='active'":''; ?>>
                    <a href="<?php echo $this->url('admin/cba-lta-cost'); ?>" title="UI Elements">
                      <i class="fa fa-puzzle-piece"><span class="overlay-label amethyst80"></span></i>
                      CBA - LTA Cost
                    </a>
                  </li>
                  <li <?php echo ($CURRENT_ROUTE_NAME=='admin/cba-labour-cost')?"class='active'":''; ?>>
                    <a href="<?php echo $this->url('admin/cba-labour-cost'); ?>" title="UI Elements">
                      <i class="fa fa-puzzle-piece"><span class="overlay-label amethyst80"></span></i>
                      CBA - Labour Cost
                    </a>
                  </li>
                  <li <?php echo ($CURRENT_ROUTE_NAME=='admin/cba-other-cost')?"class='active'":''; ?>>
                    <a href="<?php echo $this->url('admin/cba-other-cost'); ?>" title="UI Elements">
                      <i class="fa fa-puzzle-piece"><span class="overlay-label amethyst80"></span></i>
                      CBA - Other Cost
                    </a>
                  </li>
                </ul>
              </li>
              
              <li class="dropdown <?php echo in_array($CURRENT_ROUTE_NAME, array('admin/cost-benefits')) ? 'open' : ''; ?>">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Interface">
                  <i class="fa fa-pencil">
                    <span class="overlay-label amethyst"></span>
                  </i>
                  COST BENEFIT ANALYSIS <b class="fa fa-angle-left dropdown-arrow"></b>
                </a>
                <ul class="dropdown-menu">
                  <li <?php echo ($CURRENT_ROUTE_NAME=='admin/cost-benefits')?"class='active'":''; ?>>
                    <a href="<?php echo $this->url('admin/cost-benefits'); ?>" title="UI Elements">
                      <i class="fa fa-puzzle-piece"><span class="overlay-label amethyst80"></span></i>
                      Cost Benefits
                    </a>
                  </li>
                </ul>
              </li>
              <!--
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Interface">
                  <i class="fa fa-pencil">
                    <span class="overlay-label amethyst"></span>
                  </i>
                  REPORTING <b class="fa fa-angle-left dropdown-arrow"></b>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="#" title="UI Elements">
                      <i class="fa fa-puzzle-piece"><span class="overlay-label amethyst80"></span></i>
                      Stock Taking 
                    </a>
                  </li>
                  <li>
                    <a href="#" title="UI Elements">
                      <i class="fa fa-puzzle-piece"><span class="overlay-label amethyst80"></span></i>
                      CBA 
                    </a>
                  </li>
                  <li>
                    <a href="#" title="UI Elements">
                      <i class="fa fa-puzzle-piece"><span class="overlay-label amethyst80"></span></i>
                      CBA Labor Analysis
                    </a>
                  </li>
                  <li>
                    <a href="#" title="UI Elements">
                      <i class="fa fa-puzzle-piece"><span class="overlay-label amethyst80"></span></i>
                      CBA and Prioritization
                    </a>
                  </li>
                </ul>
              </li> -->
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Tables">
                  <i class="fa fa-th-large">
                    <span class="overlay-label greensea"></span>
                  </i>
                  CMS <b class="fa fa-angle-left dropdown-arrow"></b>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="#" title="Bootstrap Tables">
                      <i class="fa fa-puzzle-piece"><span class="overlay-label greensea80"></span></i>
                      Pages
                    </a>
                  </li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Tables">
                  <i class="fa fa-th-large">
                    <span class="overlay-label greensea"></span>
                  </i>
                  More <b class="fa fa-angle-left dropdown-arrow"></b>
                </a>
                <ul class="dropdown-menu">
                  <li <?php echo ($CURRENT_ROUTE_NAME=='admin/manage-grade-cost')?"class='active'":''; ?>>
                    <a href="<?php echo $this->url('admin/manage-grade-cost'); ?>" title="UI Elements">
                      <i class="fa fa-puzzle-piece"><span class="overlay-label amethyst80"></span></i>
                      Manage Grade Cost(s)
                    </a>
                  </li>
                </ul>
              </li>
              
            </ul>
            <!-- Sidebar end -->
          </div>
          <!--/.nav-collapse -->
        </div>
        <!-- Fixed navbar end -->
        <!-- Page content -->
        <div id="content" class="col-md-12">
          <?= $this->content ?>
        </div>
        <!-- Page content end -->

      </div>
      <!-- Make page fluid-->

    </div>
    <!-- Wrap all page content end -->

	<?php /* ?>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/admin_assets/js/bootstrap.min.js"></script>
    <!-- <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=css&amp;skin=sons-of-obsidian"></script>  -->

    <script src="/admin_assets/js/plugins/jquery.nicescroll.min.js"></script>

    <script src="/admin_assets/js/plugins/blockui/jquery.blockUI.js"></script>

    <script src="/admin_assets/js/plugins/jquery.easypiechart.min.js"></script>

    <script src="/admin_assets/js/plugins/jquery.animateNumbers.js"></script>

    <script src="/admin_assets/js/plugins/flot/jquery.flot.min.js"></script>
    <script src="/admin_assets/js/plugins/flot/jquery.flot.time.min.js"></script>
    <script src="/admin_assets/js/plugins/flot/jquery.flot.selection.min.js"></script>
    <script src="/admin_assets/js/plugins/flot/jquery.flot.animator.min.js"></script>
    <script src="/admin_assets/js/plugins/flot/jquery.flot.orderBars.js"></script>

    <script src="/admin_assets/js/plugins/rickshaw/raphael-min.js"></script> 
    <script src="/admin_assets/js/plugins/rickshaw/d3.v2.js"></script>
    <script src="/admin_assets/js/plugins/rickshaw/rickshaw.min.js"></script>

    <script src="/admin_assets/js/plugins/skycons/skycons.js"></script>

    <script src="/admin_assets/js/plugins/jquery.sparkline.min.js"></script>

    <!-- <script src="/admin_assets/js/plugins/summernote/summernote.min.js"></script>  -->

    <script src="/admin_assets/js/plugins/chosen/chosen.jquery.min.js"></script>

    <script src="/admin_assets/js/plugins/owl-carousel/owl.carousel.min.js"></script>

    <script src="/admin_assets/js/plugins/tabdrop/bootstrap-tabdrop.min.js"></script>

    <script src="/admin_assets/js/charts.js"></script>
    <script src="/admin_assets/js/minoral.min.js"></script>
    <?php */ ?>
	<script>
		$(".mask").hide('slow');
	</script>
  </body>
</html>