<?= $this->doctype() ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?= $this->headTitle('BoMS | Administrator Login')->setSeparator(' - ')->setAutoEscape(false) ?>

        <?= $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?= $this->headLink(['rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'])		    
		    ->prependStylesheet($this->basePath('admin_assets/css/minoral.css'))
		    ->prependStylesheet($this->basePath('admin_assets/css/bootstrap-checkbox.css'))
		    ->prependStylesheet($this->basePath('admin_assets/css/animate.min.css'))
		    ->prependStylesheet($this->basePath('admin_assets/css/font-awesome.min.css'))
		    ->prependStylesheet($this->basePath('admin_assets/css/bootstrap.min.css'))
        ?>
  		  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  	    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  	    <!--[if lt IE 9]>
  	      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  	      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  	    <![endif]-->
		
        <?= $this->headScript()
            ->prependFile($this->basePath('admin_assets/js/bootstrap.min.js'))
            //->prependFile($this->basePath('admin_assets/js/jquery-3.1.0.min.js'))
        ?> 

    </head>
  <body class="brownish-scheme">

    <!-- Preloader -->
    <div class="mask"><div id="loader"></div></div>
    <!--/Preloader -->

    <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Make page fluid -->
      <div class="row">         
        
        <!-- Page content -->
        <div id="content" class="col-md-12 full-page login">	
        	<?= $this->content ?>
          	<a href="/admin/login" class="log-in">Log In<i class="fa fa-arrow-right fa-5x"></i></a>
        </div>
        <!-- Page content end -->
      </div>
      <!-- Make page fluid-->

    </div>
    <!-- Wrap all page content end -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=css&skin=sons-of-obsidian"></script>
    <script src="/admin_assets/js/plugins/jquery.nicescroll.min.js"></script>
    <script src="/admin_assets/js/plugins/blockui/jquery.blockUI.js"></script>
    <script src="/admin_assets/js/minoral.min.js"></script>

    <script>
    $(function(){
      
      $('.welcome').addClass('animated bounceIn');

    })
    </script>
  </body>
</html>