<!-- breadcrumbs -->
<div class="breadcrumbs">
  <?php $this->pageBreadcrumbs()->setItems(['Home'=>'','Manage Staff Cost'=>'#']); echo $this->pageBreadcrumbs()->render(); ?>
</div>
<!-- /breadcrumbs -->

<?php $messages = $this->flashMessenger()->getMessages(); if(!empty($messages) && !is_array($messages[0])){ ?>
	<div style="padding:5px 30px 5px 16px; margin:10px;margin-top:35px;" class="alert alert-info alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	  	<?php echo $messages[0]; ?>
	</div>	
<?php } ?>

<!-- content main container -->
<div class="main">
	<!-- row -->
	<div class="row">
		<!-- col 12 -->
		<div class="col-md-12">
			<!-- tile -->
			<section class="tile cornered">
				<!-- tile header -->
				<div class="tile-header" style="padding-top:30px;">
					<h1><strong>Manage</strong> Staff Cost(s)</h1>
					<div class="controls"></div>
					<div class="pull-right">
						<div class="pull-left">
						<form name="search_form" id="search_form" class="form-inline" method="post">
						  <div class="form-group mx-sm-3">
						    <label for="keyword" class="sr-only">Keyword</label>
						    <input type="text" class="form-control" id="keyword" name="keyword" placeholder="Keyword" value="<?php echo $this->keyword; ?>" style="min-height:27px;" />
						  </div>
						  <input type="submit" name="search" class="btn btn-primary" value="Search" />
						  <input type="submit" name="reset" class="btn btn-primary" value="Reset" />
						</form>
						</div>
						&nbsp; <a class="pull-right" href="<?php echo $this->url('admin'); ?>/add-grade-cost"><button name="add-new" class="btn btn-primary">Add New</button></a>
					</div>
				</div>
				<!-- /tile header -->

				<!-- tile body -->
				<div class="tile-body nopadding">

					<table class="table">
						<thead>
							<tr>
								<th>Sr. No.</th>
								<th>Country</th>
								<th>Grade Level</th>
								<th>Annual Cost($)</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
						
							<?php if($this->gradeCosts->count() > 0): ?>
								<?php $iTrator = 1; foreach ($this->gradeCosts as $gradeCost): ?>
									<tr class="<?php echo ($iTrator%2 == 0) ? 'odd gradeX' : 'even gradeC'; ?>">
										<td><?php echo $iTrator; ?></td>
										<td><?php echo ucfirst($gradeCost['country_name']); ?></td>
										<td><?php echo $gradeCost['grade_level']; ?></td>
										<td>$<?php echo $gradeCost['cost']; ?></td>
										<td class="center">

											<a title="Update Grade Cost" href="<?php echo $this->url('admin'); ?>/update-grade-cost/<?php echo $gradeCost['id']; ?>"><i class="fa fa-edit"></i></a>

											<a title="Delete Grade Cost" href="<?php echo $this->url('admin'); ?>/delete-grade-cost/<?php echo $gradeCost['id']; ?>"><i class="fa fa-trash-o"></i></a>

											<?php if($gradeCost['status'] == '1'){ ?>
											<a title="Deactivate Grade Cost" href="<?php echo $this->url('admin'); ?>/deactivate-grade-cost/<?php echo $gradeCost['id']; ?>"><i class="fa fa-ban"></i></a>
											<?php } ?>
											<?php if($gradeCost['status'] == '0'){ ?>
											<a title="Activate Grade Cost" href="<?php echo $this->url('admin'); ?>/activate-grade-cost/<?php echo $gradeCost['id']; ?>"><i class="fa fa-check-square-o"></i></a>
											<?php } ?>

										</td>
									</tr>
								<?php $iTrator++; endforeach; ?>
							<?php else: ?>							
								<tr class="odd gradeX">
										<td colspan="10" align="center">No Records Found!</td>
								</tr>
							<?php endif; ?>
						</tbody>
					</table>

				</div>
				<!-- /tile body -->
				<hr />
				<div class="pull-right" style="width:100%;">
                  <div class="row">
						<div class="col-xs-6">
							<div class="dataTables_info" id="example_info"><?php echo $this->rowStat; ?></div>
						</div>
						<div class="col-xs-6">
							<?php 
								echo $this->paginationControl(
							    	$this->gradeCosts,
							    	'Sliding',
							    	'partial/pagination.phtml',
							    	['route' => 'admin/manage-grade-cost']
								); 
							?>
						</div>
					</div>
                </div>

			</section>
			<!-- /tile -->
		</div>
		<!-- /col 12 -->
	</div>
	<!-- /row -->
</div>
<!-- /content container -->