<!-- breadcrumbs -->
<div class="breadcrumbs">
  <?php $this->pageBreadcrumbs()->setItems(['Home'=>'','Manage Grade Cost'=>'#','Update'=>'#']); echo $this->pageBreadcrumbs()->render(); ?>
</div>
<!-- /breadcrumbs -->

<?php $messages = $this->flashMessenger()->getMessages(); if(!empty($messages) && !is_array($messages[0])){ ?>
	<div style="padding:5px 30px 5px 16px; margin:10px;margin-top:35px;" class="alert alert-info alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	  	<?php echo $messages[0]; ?>
	</div>	
<?php } ?>

<!-- content main container -->
<div class="main">
	<!-- row -->
	<div class="row">
		<!-- col 12 -->
		<div class="col-md-12">
			<!-- tile -->
			<section class="tile">
				<div class="col-md-8 col-md-offset-2">
				<?php 
				$form = $this->costForm;
				$form->prepare();
				echo $this->form()->openTag($form);
				?>
				<div>
					<?php echo $this->formElement($form->get('grade_cost_id')); ?>
				</div>
				<div class="form-group">
					<label for="inputEmail3" class="col-sm-3 control-label">Country</label>
					<div class="col-sm-9">
						<?php echo $this->formElement($form->get('country_id')); ?>
						<span class="common-error-msg"><?php echo $this->formElementErrors($form->get('country_id'));?></span>
					</div>
				</div>
				
				<div class="form-group">
					<label for="inputEmail3" class="col-sm-3 control-label">Grade Lavel</label>
					<div class="col-sm-9">
						<?php echo $this->formElement($form->get('grade_id')); ?>
						<span class="common-error-msg"><?php echo $this->formElementErrors($form->get('grade_id'));?></span>
					</div>
				</div>

				<div class="form-group">
					<label for="inputEmail3" class="col-sm-3 control-label">Grade Cost</label>
					<div class="col-sm-9">
						<?php echo $this->formElement($form->get('grade_cost')); ?>
						<span class="common-error-msg"><?php echo $this->formElementErrors($form->get('grade_cost'));?></span>
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-9">
						<?php
					        //echo $this->formRow($form->get('loginCsrf'));
					        echo $this->formElement($form->get('submit'));
					    ?>
					</div>
				</div>
				<?php echo $this->form()->closeTag($form); ?>   
				</div>
			</section>
			<!-- /tile -->
		</div>
		<!-- /col 12 -->
	</div>
	<!-- /row -->
</div>
<!-- /content container -->

<script>
$(document).ready(function(){
    $("#country").on('change', function(){
        var countryID = $(this).val();
        $.ajax({
            type: 'POST',
            url: "/ajax-requests",
            data: {'action': 'states_by_country', 'countryId':countryID},
            dataType: 'json',
            success: function (data) {
                var options;
                options += '<option value="">-Select State-</option>';
                $.each(data.states,function(index, val) {
                    options += '<option value="'+index+'">'+val+'</option>';
                });
                $("#int_prefix").val(data.country_phone_code);
                $('#state').html(options);
            }
        });
    });
});
</script>