<!-- breadcrumbs -->
<div class="breadcrumbs">
  <?php $this->pageBreadcrumbs()->setItems(['Home'=>'','Needs Analysis'=>'#']); echo $this->pageBreadcrumbs()->render(); ?>
</div>
<!-- /breadcrumbs -->

<?php $messages = $this->flashMessenger()->getMessages(); if(!empty($messages) && !is_array($messages[0])){ ?>
	<div style="padding:5px 30px 5px 16px; margin:10px;margin-top:35px;" class="alert alert-info alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	  	<?php echo $messages[0]; ?>
	</div>	
<?php } ?>

<!-- content main container -->
<div class="main">
	<!-- row -->
	<div class="row">
		<!-- col 12 -->
		<div class="col-md-12">
                
                
                <!-- tile -->
                <section class="tile cornered">


                  <!-- tile header -->
                  <div class="tile-header">
                    <h1><strong>Needs</strong> Analysis</h1>
                    <div class="controls">
                      <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
                      <a href="#" class="remove"><i class="fa fa-times"></i></a>
                    </div>
                  </div>
                  <!-- /tile header -->

                  <!-- tile body -->
                  <div class="tile-body nopadding">
                    
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Sr. No.</th>
                          <th>Service/Business Operation</th>
                          <th>Analysis Narrative</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="active">
                          <td>1</td>
                          <td>Vehicle Purchase</td>
                          <td>Proin at blandit mi. Fusce magna lacus, gravida id vehicula ac, auctor eget urna. Donec vitae mi nec libero venenatis dapibus sed et nulla. Aliquam tempus ligula in dolor laoreet eleifend. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus in libero euismod, tincidunt diam eu, maximus nisi</td>
                        </tr>
                        <tr class="active">
                          <td>2</td>
                          <td>Vehicle Purchase2</td>
                          <td>Proin at blandit mi. Fusce magna lacus, gravida id vehicula ac, auctor eget urna. Donec vitae mi nec libero venenatis dapibus sed et nulla. Aliquam tempus ligula in dolor laoreet eleifend. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus in libero euismod, tincidunt diam eu, maximus nisi</td>
                        </tr>
                        <tr class="active">
                          <td>3</td>
                          <td>Vehicle Purchase3</td>
                          <td>Proin at blandit mi. Fusce magna lacus, gravida id vehicula ac, auctor eget urna. Donec vitae mi nec libero venenatis dapibus sed et nulla. Aliquam tempus ligula in dolor laoreet eleifend. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus in libero euismod, tincidunt diam eu, maximus nisi</td>
                        </tr>
                        <tr class="active">
                          <td>4</td>
                          <td>Vehicle Purchase4</td>
                          <td>Proin at blandit mi. Fusce magna lacus, gravida id vehicula ac, auctor eget urna. Donec vitae mi nec libero venenatis dapibus sed et nulla. Aliquam tempus ligula in dolor laoreet eleifend. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus in libero euismod, tincidunt diam eu, maximus nisi</td>
                        </tr>
                        <tr class="active">
                          <td>5</td>
                          <td>Vehicle Purchase5</td>
                          <td>Proin at blandit mi. Fusce magna lacus, gravida id vehicula ac, auctor eget urna. Donec vitae mi nec libero venenatis dapibus sed et nulla. Aliquam tempus ligula in dolor laoreet eleifend. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus in libero euismod, tincidunt diam eu, maximus nisi</td>
                        </tr>
                        <tr class="active">
                          <td>6</td>
                          <td>Vehicle Purchase6</td>
                          <td>Proin at blandit mi. Fusce magna lacus, gravida id vehicula ac, auctor eget urna. Donec vitae mi nec libero venenatis dapibus sed et nulla. Aliquam tempus ligula in dolor laoreet eleifend. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus in libero euismod, tincidunt diam eu, maximus nisi</td>
                        </tr>
                        <tr class="active">
                          <td>7</td>
                          <td>Vehicle Purchase7</td>
                          <td>Proin at blandit mi. Fusce magna lacus, gravida id vehicula ac, auctor eget urna. Donec vitae mi nec libero venenatis dapibus sed et nulla. Aliquam tempus ligula in dolor laoreet eleifend. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus in libero euismod, tincidunt diam eu, maximus nisi</td>
                        </tr>
                        <tr class="active">
                          <td>8</td>
                          <td>Vehicle Purchase8</td>
                          <td>Proin at blandit mi. Fusce magna lacus, gravida id vehicula ac, auctor eget urna. Donec vitae mi nec libero venenatis dapibus sed et nulla. Aliquam tempus ligula in dolor laoreet eleifend. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus in libero euismod, tincidunt diam eu, maximus nisi</td>
                        </tr>
                        <tr class="active">
                          <td>9</td>
                          <td>Vehicle Purchase9</td>
                          <td>Proin at blandit mi. Fusce magna lacus, gravida id vehicula ac, auctor eget urna. Donec vitae mi nec libero venenatis dapibus sed et nulla. Aliquam tempus ligula in dolor laoreet eleifend. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus in libero euismod, tincidunt diam eu, maximus nisi</td>
                        </tr>
                        <tr class="active">
                          <td>10</td>
                          <td>Vehicle Purchase10</td>
                          <td>Proin at blandit mi. Fusce magna lacus, gravida id vehicula ac, auctor eget urna. Donec vitae mi nec libero venenatis dapibus sed et nulla. Aliquam tempus ligula in dolor laoreet eleifend. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus in libero euismod, tincidunt diam eu, maximus nisi</td>
                        </tr>
                      </tbody>
                    </table>

                  </div>
                  <!-- /tile body -->
                

                  <!-- show code btn -->
                  <button class="btn show-code" data-toggle="modal" data-target="#table07CodeModal">
                    show code
                  </button>
                  <!-- /show code btn -->
          


                </section>
                <!-- /tile -->


              </div>
		<!-- /col 12 -->
	</div>
	<!-- /row -->
</div>
<!-- /content container -->