@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700');
@font-face {
  font-family: 'HelveticaNeueLTStd';
  src: url('../fonts/HelveticaNeueLTStd-Bd.eot');
  src: url('../fonts/HelveticaNeueLTStd-Bd.woff2') format('woff2'),
       url('../fonts/HelveticaNeueLTStd-Bd.woff') format('woff'),
       url('../fonts/HelveticaNeueLTStd-Bd.ttf') format('truetype'),
       url('../fonts/HelveticaNeueLTStd-Bd.svg#HelveticaNeueLTStd-Bd') format('svg'),
       url('../fonts/HelveticaNeueLTStd-Bd.eot?#iefix') format('embedded-opentype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueLTStd';
  src: url('../fonts/HelveticaNeueLTStd-Lt.eot');
  src: url('../fonts/HelveticaNeueLTStd-Lt.woff2') format('woff2'),
       url('../fonts/HelveticaNeueLTStd-Lt.woff') format('woff'),
       url('../fonts/HelveticaNeueLTStd-Lt.ttf') format('truetype'),
       url('../fonts/HelveticaNeueLTStd-Lt.svg#HelveticaNeueLTStd-Lt') format('svg'),
       url('../fonts/HelveticaNeueLTStd-Lt.eot?#iefix') format('embedded-opentype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueLTStd-Md';
  src: url('../fonts/HelveticaNeueLTStd-Md.eot');
  src: url('../fonts/HelveticaNeueLTStd-Md.woff2') format('woff2'),
       url('../fonts/HelveticaNeueLTStd-Md.woff') format('woff'),
       url('../fonts/HelveticaNeueLTStd-Md.ttf') format('truetype'),
       url('../fonts/HelveticaNeueLTStd-Md.svg#HelveticaNeueLTStd-Md') format('svg'),
       url('../fonts/HelveticaNeueLTStd-Md.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}


a{
	text-decoration: none!important;
}

html, body{
	
	font-family: 'Raleway', sans-serif;
}
strong{
	
	font-weight: 800;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'HelveticaNeueLTStd', sans-serif;
	font-weight: 400;
}

ul li{
	list-style: none;
}

.site-header{
	border-top: 2px solid #b40804;
}
.navigation{
	background: #0e3667;
}
.header-top{
	padding: 15px 0;
}
.section{
	display: block;
	position: relative;
}
.overlay{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.overlay-centered{
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  -webkit-transform: translate(0,-50%);
  width: 100%;
}
.section{
	padding: 30px 0;
}
.section.slider{
	padding: 0;
}
.slider img{
	width: 100%;
}
.user-access{
	float: right;
	padding: 0;
	margin-bottom: 0;
	margin-top: 15px;
}
.user-access li{
	display: inline-block;
	margin-left: 15px;
}
.ico{
	background-image: url(../img/image-stripe.png);
	background-repeat: no-repeat;
}
.user-access li .ico{
 
  background-size: 285px auto;
  display: inline-block;
  height: 30px;
  margin-right: 5px;
  width: 30px;
  vertical-align: top;
}
.user-access li .ico-login{
	background-position:-6px -7px;
}
.user-access li .ico-signup{
	background-position:-45px -7px;
}
.user-access li a{
	line-height: 30px;
	display: block;
	font-size: 16px;
	color: #8e8f90;
	text-transform: uppercase;
}
.navbar-nav > li > a{
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
}
.social-links{
	margin-top: 10px;
}
.social-links li{
	display: inline-block;
}
.navbar{
	margin-bottom: 0;
	border: none;
}
.site-header .nav > li > a:focus, .site-header .nav > li > a:hover{
	background: #1d9bd4;
}
.social-links li a{
	color: #fff;
	font-size: 18px;
	width: 30px;
	display: block;
	height: 30px;
	text-align: center;
	line-height: 30px;
}
.social-links li a:hover, .social-links li a:focus{
	color: #1d9bd4;
}
.overlay-content{
	max-width: 500px;
}
.overlay-content h2{
	color: #0e3667;
	font-size: 45px;
}
.overlay-content h2 strong{
	color: #b40804;
}
.overlay-content p{
	font-size: 18px;
}
.section-title strong{
	color: #b40804;
	font-weight: 800;
}
.section-title{
	font-size: 40px;
	color: #9f9f9f;
	font-weight: 100;
}

.section .h5{
	color: #0e3667;
	font-size: 20px;
	font-weight: 500;
}
.ser-col{
	position: relative;
	padding-left: 100px;
	margin-top: 50px;
}
.ser-ico{
	position: absolute;
	left: 0;
	top: 0;
	color: #0e3667;
	height: 95px;
	width: 95px;
	text-align: center;
	padding: 20px;
}
.ser-ico i{
	font-size: 60px;

}
.ser-col h3{
	color: #b40804;
}
.ser-col p{
	color: #9f9f9f;
	font-size: 18px;
}
.sec-rm{
	background: #fac6c5;
}
.sec-rm .btn{
	border: 3px solid #b40804;
	color: #b40804;
	border-radius: 0;
	font-size: 16px;
	padding: 10px 15px;
	float: right;
	margin-top: 50px;
}
.sec-rm p{
	color: #0e3667;
	font-size: 20px;
	font-weight: 500;
}
.testmonial-wrap{
	position: relative;
	margin-top: 50px;
}
.testmonial-wrap .testimonial-text{
	position: absolute;
	background: #0e3667;
	color: #fff;
	width: 50%;
	right: 0;
	top: 0;
	height: 100%;
	padding: 100px 12%;
}
.testmonial-wrap img{
	width: 50%;
}
.testmonial-wrap h3{
  font-size: 30px;
  line-height: 36px;
  position: relative;
  padding-bottom: 50px;
}
.testmonial-wrap h3:after{
	position: absolute;
	width: 100px;
	height: 1px ;
	background: #fff;
	content: '';
	left: 0;
	bottom: 20px;
}
.testmonial-wrap p{
	line-height: 30px;
}
.site-footer{
	position: relative;
	padding: 30px 0;
	background: #292b33;
	color: #fff;
}
.site-footer:before{
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;
	background-image: url(../img/border-dual-color.png);
	background-repeat: repeat-x;
	height: 7px;
	content: '';
	top: 0;
}
.footer-logo{
	margin-bottom: 20px;
	display: block;
	margin-top: 20px;
}
.site-footer h3 {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 43px;

}
.site-footer ul{
	padding: 0;
}
.quick-links li a{
	color: #fff;
	position: relative;
}
.quick-links li a:before{
	content: '\f105';
	font-family: FontAwesome;
	color: #1d9bd4;
	left: 0;
	font-size: 16px;
	margin-right: 10px;
}
.site-footer address i{
	margin-right: 5px;
	width: 20px;
	color: #1d9bd4;
}
.form-subscribe .form-control{
  height: 40px;
  border: none;
  border-radius: 3px;
  width: 100%;
}
.form-subscribe .btn{
	background: #b40804;
	color: #fff;
	font-size: 20px;
	border-radius: 3px;
	width: 100%;
	margin-top: 10px;
	font-weight: 500;
}
.sec-rm .section-title{
	color: #675f5f
}