@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700');
@font-face {
  font-family: 'HelveticaNeueLTStd';
  src: url('../fonts/HelveticaNeueLTStd-Bd.eot');
  src: url('../fonts/HelveticaNeueLTStd-Bd.woff2') format('woff2'),
       url('../fonts/HelveticaNeueLTStd-Bd.woff') format('woff'),
       url('../fonts/HelveticaNeueLTStd-Bd.ttf') format('truetype'),
       url('../fonts/HelveticaNeueLTStd-Bd.svg#HelveticaNeueLTStd-Bd') format('svg'),
       url('../fonts/HelveticaNeueLTStd-Bd.eot?#iefix') format('embedded-opentype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueLTStd';
  src: url('../fonts/HelveticaNeueLTStd-Lt.eot');
  src: url('../fonts/HelveticaNeueLTStd-Lt.woff2') format('woff2'),
       url('../fonts/HelveticaNeueLTStd-Lt.woff') format('woff'),
       url('../fonts/HelveticaNeueLTStd-Lt.ttf') format('truetype'),
       url('../fonts/HelveticaNeueLTStd-Lt.svg#HelveticaNeueLTStd-Lt') format('svg'),
       url('../fonts/HelveticaNeueLTStd-Lt.eot?#iefix') format('embedded-opentype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeueLTStd-Md';
  src: url('../fonts/HelveticaNeueLTStd-Md.eot');
  src: url('../fonts/HelveticaNeueLTStd-Md.woff2') format('woff2'),
       url('../fonts/HelveticaNeueLTStd-Md.woff') format('woff'),
       url('../fonts/HelveticaNeueLTStd-Md.ttf') format('truetype'),
       url('../fonts/HelveticaNeueLTStd-Md.svg#HelveticaNeueLTStd-Md') format('svg'),
       url('../fonts/HelveticaNeueLTStd-Md.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}


a{
	text-decoration: none!important;
}

html, body{
	
	font-family: 'Raleway', sans-serif;
}
strong{
	
	font-weight: 800;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'HelveticaNeueLTStd', sans-serif;
	font-weight: 400;
}

ul li{
	list-style: none;
}

.site-header{
	border-top: 2px solid #b40804;
}
.navigation{
	background: #0e3667;
}
.header-top{
	padding: 15px 0;
}
.section{
	display: block;
	position: relative;
}
.overlay{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.overlay-centered{
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  -webkit-transform: translate(0,-50%);
  width: 100%;
}
.section{
	padding: 30px 0;
}
.section.slider{
	padding: 0;
}
.slider img{
	width: 100%;
}
.user-access{
	float: right;
	padding: 0;
	margin-bottom: 0;
	margin-top: 15px;
}
.user-access li{
	display: inline-block;
	margin-left: 15px;
}
.ico{
	background-image: url(../img/image-stripe.png);
	background-repeat: no-repeat;
}
.user-access li .ico{
 
  background-size: 285px auto;
  display: inline-block;
  height: 30px;
  margin-right: 5px;
  width: 30px;
  vertical-align: top;
}
.user-access li .ico-login{
	background-position:-6px -7px;
}
.user-access li .ico-signup{
	background-position:-45px -7px;
}
.user-access li a{
	line-height: 30px;
	display: block;
	font-size: 16px;
	color: #8e8f90;
	text-transform: uppercase;
}
.navbar-nav > li > a{
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
}
.social-links{
	margin-top: 10px;
}
.social-links li{
	display: inline-block;
}
.navbar{
	margin-bottom: 0;
	border: none;
}
.site-header .nav > li > a:focus, .site-header .nav > li > a:hover{
	background: #1d9bd4;
}
.social-links li a{
	color: #fff;
	font-size: 18px;
	width: 30px;
	display: block;
	height: 30px;
	text-align: center;
	line-height: 30px;
}
.social-links li a:hover, .social-links li a:focus{
	color: #1d9bd4;
}
.overlay-content{
	max-width: 500px;
}
.overlay-content h2{
	color: #0e3667;
	font-size: 45px;
}
.overlay-content h2 strong{
	color: #b40804;
}
.overlay-content p{
	font-size: 18px;
}
.section-title strong{
	color: #b40804;
	font-weight: 800;
}
.section-title{
	font-size: 40px;
	color: #9f9f9f;
	font-weight: 100;
}

.section .h5{
	color: #0e3667;
	font-size: 20px;
	font-weight: 500;
}
.ser-col{
	position: relative;
	padding-left: 100px;
	margin-top: 50px;
}
.ser-ico{
	position: absolute;
	left: 0;
	top: 0;
	color: #0e3667;
	height: 95px;
	width: 95px;
	text-align: center;
	padding: 20px;
}
.ser-ico i{
	font-size: 60px;

}
.ser-col h3{
	color: #b40804;
}
.ser-col p{
	color: #9f9f9f;
	font-size: 18px;
}
.sec-rm{
	background: #fac6c5;
}
.sec-rm .btn{
	border: 3px solid #b40804;
	color: #b40804;
	border-radius: 0;
	font-size: 16px;
	padding: 10px 15px;
	float: right;
	margin-top: 50px;
}
.sec-rm p{
	color: #0e3667;
	font-size: 20px;
	font-weight: 500;
}
.testmonial-wrap{
	position: relative;
	margin-top: 50px;
}
.testmonial-wrap .testimonial-text{
	position: absolute;
	background: #0e3667;
	color: #fff;
	width: 50%;
	right: 0;
	top: 0;
	height: 100%;
	padding: 100px 12%;
}
.testmonial-wrap img{
	width: 50%;
}
.testmonial-wrap h3{
  font-size: 30px;
  line-height: 36px;
  position: relative;
  padding-bottom: 50px;
}
.testmonial-wrap h3:after{
	position: absolute;
	width: 100px;
	height: 1px ;
	background: #fff;
	content: '';
	left: 0;
	bottom: 20px;
}
.testmonial-wrap p{
	line-height: 30px;
}
.site-footer{
	position: relative;
	padding: 30px 0;
	background: #292b33;
	color: #fff;
}
.site-footer:before{
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;
	background-image: url(../img/border-dual-color.png);
	background-repeat: repeat-x;
	height: 7px;
	content: '';
	top: 0;
}
.footer-logo{
	margin-bottom: 20px;
	display: block;
	margin-top: 20px;
}
.site-footer h3 {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 43px;

}
.site-footer ul{
	padding: 0;
}
.quick-links li a{
	color: #fff;
	position: relative;
}
.quick-links li a:before{
	content: '\f105';
	font-family: FontAwesome;
	color: #1d9bd4;
	left: 0;
	font-size: 16px;
	margin-right: 10px;
}
.site-footer address i{
	margin-right: 5px;
	width: 20px;
	color: #1d9bd4;
}
.form-subscribe .form-control{
  height: 40px;
  border: none;
  border-radius: 3px;
  width: 100%;
}
.form-subscribe .btn{
	background: #b40804;
	color: #fff;
	font-size: 20px;
	border-radius: 3px;
	width: 100%;
	margin-top: 10px;
	font-weight: 500;
}
.sec-rm .section-title{
	color: #675f5f
}

/*Login page design css*/

.login_container {
  margin:150px auto;
  width: 640px;
}

.login_container .login {
  position: relative;
  margin: 0 auto;
  padding: 20px 20px 20px;
  width: 310px;
  background: white;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}
.login_container .login:before {
  content: '';
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  z-index: -1;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}
.login_container .login h1 {
  margin: -20px -20px 21px;
  line-height: 40px;
  font-size: 15px;
  font-weight: bold;
  color: #555;
  text-align: center;
  text-shadow: 0 1px white;
  background: #f3f3f3;
  border-bottom: 1px solid #cfcfcf;
  border-radius: 3px 3px 0 0;
  background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
  background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
  -webkit-box-shadow: 0 1px whitesmoke;
  box-shadow: 0 1px whitesmoke;
}
.login_container .login p {
  margin: 20px 0 0;
}
.login_container .login p:first-child {
  margin-top: 0;
}
.login_container .login input[type=text], .login input[type=password] {
  width: 278px;
}
.login_container  .login p.remember_me {
  float: left;
  line-height: 31px;
}
.login_container .login p.remember_me label {
  font-size: 12px;
  color: #777;
  cursor: pointer;
}
.login_container .login p.remember_me input {
  position: relative;
  bottom: 1px;
  margin-right: 4px;
  vertical-align: middle;
}
.login_container .login p.submit {
  text-align: right;
}

.login_container .login-help {
  margin: 20px 0;
  font-size: 11px;
  color: white;
  text-align: center;
  /*text-shadow: 0 1px #2a85a1;*/
}
.login_container .login-help a {
  color: #000;
  text-decoration: none;
}
.login_container .login-help a:hover {
  text-decoration: underline;
}

:-moz-placeholder {
  color: #c9c9c9 !important;
  font-size: 13px;
}

::-webkit-input-placeholder {
  color: #ccc;
  font-size: 13px;
}

.login_container  input {
  font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
  font-size: 14px;
}

.login_container  input[type=text], input[type=password] {
  margin: 5px;
  padding: 0 10px;
  width: 200px;
  height: 34px;
  color: #404040;
  background: white;
  border: 1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius: 2px;
  outline: 5px solid #eff4f7;
  -moz-outline-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}
.login_container  input[type=text]:focus, input[type=password]:focus {
  border-color: #7dc9e2;
  outline-color: #dceefc;
  outline-offset: 0;
}

.login_container  input[type=submit] {
  padding: 0 18px;
  height: 29px;
  font-size: 12px;
  font-weight: bold;
  color: #527881;
  text-shadow: 0 1px #e3f1f1;
  background: #cde5ef;
  border: 1px solid;
  border-color: #b4ccce #b3c0c8 #9eb9c2;
  border-radius: 16px;
  outline: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: -webkit-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: -moz-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: -o-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: linear-gradient(to bottom, #edf5f8, #cde5ef);
  -webkit-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
}
.login_container  input[type=submit]:active {
  background: #cde5ef;
  border-color: #9eb9c2 #b3c0c8 #b4ccce;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}

.login_container .lt-ie9 input[type=text], .lt-ie9 input[type=password] {
  line-height: 34px;
}
/** registration form design css **/
#wrapper {}
#wrapper  h1{ 
font-weight:bold; 
font-size:30px; 
text-align:center; 
padding-top:10px;
}
#wrapper .logo-registation{     
	margin: 40px 0 auto;
    width: 100%;
    text-align: center;
    display: table;}
/** form field **/
#wrapper form {
  display: block;
  margin: 30px;
  overflow: hidden;
  background: #fff;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  font-size: 0;
}

#wrapper form > div > label {
  display: block;
  padding: 20px 20px 10px;
  vertical-align: top;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: #939393;
  cursor: pointer;
}
#wrapper form > div.switch > label {
  padding: 16px 20px 13px;
}

#wrapper .col-2, .col-3, .col-4 { 
  border-bottom: 1px solid #e4e4e4;
}

#wrapper form > div > .col-4 {
  height: 86px;
}

#wrapper label > input {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 27px;
  line-height: 27px;
  margin: 5px -5px 0;
  padding: 7px 5px 3px;
  border: none;
  outline: none;
  color: #555;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  opacity: .6;
  transition: all linear .3s;
}

#wrapper .col-submit {
  text-align: center;
  padding: 20px;
  width: 100%;
}

#wrapper label > select {
  display: block;
  width: 100%;
  padding: 0;
  color: #555;
  margin: 16px 0 2px;
  font-weight: 500;
  background: transparent;
  border: none;
  outline: none;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  opacity: .4;
  transition: all linear .3s;
}

#wrapper label > input:focus, label > select:focus {
  opacity: 1;
}



/** button design based on http://codepen.io/guvootes/pen/eyDAb **/
#wrapper button, input.submitbtn {
  width: 100%;
  /*height: 35px;*/
  border: none;
  border-radius: 4px;
  margin: 0 0 15px 0;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
  overflow: hidden;
  outline: none;
}

#wrapper button.submitbtn, input.submitbtn {
  background-color:#303030;
  border-bottom: 1px solid #303030;
  cursor: pointer;
  color: #fff;
  width: 200px;
  height: 50px;
}
#wrapper button.submitbtn:hover, input.submitbtn:hover {
  background-image: -moz-linear-gradient(#d82525, #9a0909);
  background-image: -webkit-linear-gradient(#d82525, #9a0909);
  background-image: linear-gradient(#d82525, #9a0909);
}
#wrapper button.submitbtn:active, input.submitbtn:active {
  /*height: 34px;*/
  border-bottom: 0;
  margin: 1px 0 0 0;
  background-image: -moz-linear-gradient(#d82525, #9a0909);
  background-image: -webkit-linear-gradient(#d82525, #9a0909);
  background-image: linear-gradient(#d82525, #9a0909);
  -moz-box-shadow: inset 0 1px 3px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 1px 3px 1px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 3px 1px rgba(0, 0, 0, 0.3);
}


/** responsive design **/
@media(min-width: 850px){
  #wrapper form > div { display: inline-block; }
  .col-submit { display: block; }
  
  .col-2, .col-3, .col-4 { box-shadow: 1px 1px #e4e4e4; border: none; }
  
  .col-2 { width: 50% }
  .col-3 { width: 33.3333333333% }
  .col-4 { width: 25% }
  
  .col-submit button { width: 30%; margin: 0 auto; }
}



label.error{
  text-transform: none;
  color:red;
  font-weight:normal;
}

.common-error-msg ul{
  list-style-type: none;
  margin:0px;
  padding: 0px;
}
span.common-error-msg ul li{
  text-transform: none;
  color:red;
}


/* form_section start here */
.form_section{}
.form_section .board{
    width:100%;
margin:10px auto;

background: #fff;
/*box-shadow: 10px 10px #ccc,-10px 20px #ddd;*/
}
.form_section .board .nav-tabs {
    position: relative;
    /* border-bottom: 0; */
    /* width: 80%; */
    margin:0px auto;
    margin-bottom: 0;
    box-sizing: border-box;

}

.form_section .board > div.board-inner{
    background: #fafafa url(http://subtlepatterns.com/patterns/geometry2.png);
    background-size: 30%;
}

.form_section p.narrow{
  width:100%;
  clear: both;
  /*margin: 0 0 20px;*/
}

.form_section .liner{
    height: 2px;
    background: #ddd;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.form_section .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    /* background-color: #ffffff; */
    border: 0;
    border-bottom-color: transparent;
}

.form_section span.round-tabs{
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: white;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}

.form_section  span.round-tabs.one{
    color: rgb(34, 194, 34);border: 2px solid rgb(34, 194, 34);
}

.form_section li.active span.round-tabs.one{
    background: #fff !important;
    border: 2px solid #ddd;
    color: rgb(34, 194, 34);
}

.form_section span.round-tabs.two{
    color: #febe29;border: 2px solid #febe29;
}

.form_section li.active span.round-tabs.two{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #febe29;
}

.form_section span.round-tabs.three{
    color: #3e5e9a;border: 2px solid #3e5e9a;
}

.form_section li.active span.round-tabs.three{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #3e5e9a;
}

.form_section span.round-tabs.four{
    color: #f1685e;border: 2px solid #f1685e;
}

.form_section li.active span.round-tabs.four{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #f1685e;
}

.form_section span.round-tabs.five{
    color: #999;border: 2px solid #999;
}

.form_section li.active span.round-tabs.five{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #999;
}

.form_section .nav-tabs > li.active > a span.round-tabs{
    background: #fafafa;
}
.form_section .nav-tabs > li {
    width: 20%;
}
/*li.active:before {
    content: " ";
    position: absolute;
    left: 45%;
    opacity:0;
    margin: 0 auto;
    bottom: -2px;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    z-index: 1;
    transition:0.2s ease-in-out;
}*/
.form_section .nav-tabs > li:after {
    content: " ";
    position: absolute;
    left: 45%;
   opacity:0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #ddd;
    transition:0.1s ease-in-out;
    
}
.form_section .nav-tabs > li.active:after {
    content: " ";
    position: absolute;
    left: 45%;
   opacity:1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #ddd;
    
}
.form_section .nav-tabs > li a{
   width: 70px;
   height: 70px;
   margin: 20px auto;
   border-radius: 100%;
   padding: 0;
}

.form_section .nav-tabs > li a:hover{
    background: transparent;
}

.form_section .tab-content{
}
.form_section .tab-pane{
   position: relative;
padding-top: 50px;
}
.form_section .tab-content .head{
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 10px;
	    font-weight: 600;
}
.form_section .btn-outline-rounded{
    padding: 10px 40px;
    margin: 20px 0;
    border: 2px solid transparent;
    border-radius: 25px;
}

.form_section .btn.green{
    background-color:#5cb85c;
    /*border: 2px solid #5cb85c;*/
    color: #ffffff;
}

.form_section .form-group input[type="checkbox"] {
    display: none;
}

.form_section .form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form_section .form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;   
}

.form_section .form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form_section .form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;   
}

@media( max-width : 585px ){
    
 .form_section   .board {
width: 90%;
height:auto !important;
}
 .form_section   span.round-tabs {
        font-size:16px;
width: 50px;
height: 50px;
line-height: 50px;
    }
.form_section    .tab-content .head{
        font-size:20px;
        }
.form_section    .nav-tabs > li a {
width: 50px;
height: 50px;
line-height:50px;
}

.form_section .nav-tabs > li.active:after {
content: " ";
position: absolute;
left: 35%;
}

.form_section .btn-outline-rounded {
    padding:12px 20px;
    }
}

/** responsive design **/
@media(min-width: 850px){
  #wrapper form > div { display: inline-block; }
  .col-submit { display: block; }
  
  .col-2, .col-3, .col-4 { box-shadow: 1px 1px #e4e4e4; border: none; }
  
  .col-2 { width: 50% }
  .col-3 { width: 33.3333333333% }
  .col-4 { width: 25% }
  
  .col-submit button { width: 30%; margin: 0 auto; }
}