<?php if ($this->pageCount): ?>
<div class="dataTables_paginate paging_bootstrap">
	<ul class="pagination pull-right" style="margin:0px;">
	
	<!-- Previous page link -->
	<?php if (isset($this->previous)): ?>
	<li>
	  <a href="<?= $this->url($this->route, ['page' => $this->previous]); ?>">
	    ← Previous
	  </a>
	</li>
	<?php else: ?>
	  <li class="prev disabled"><span>← Previous</span></li>
	<?php endif; ?>
	</li>
	
	<!-- Numbered page links -->
	<?php foreach ($this->pagesInRange as $page): ?>
	  <?php if ($page != $this->current): ?>
	  <li>
	    <a href="<?= $this->url($this->route, ['page' => $page]); ?>">
	        <?= $page; ?>
	    </a>
	   </li>
	  <?php else: ?>
	     <li class="active"><span><?= $page; ?></span></li>
	  <?php endif; ?>
	<?php endforeach; ?>
	
	<!-- Next page link -->
	
	<?php if (isset($this->next)): ?>
	<li>
	  <a href="<?= $this->url($this->route, ['page' => $this->next]); ?>">
	    Next →
	  </a>
	</li>
	<?php else: ?>
	  <li><span class="disabled">Next →</span></li>
	<?php endif; ?>
	</ul>
</div>
<?php endif; ?>