<div class="container-fluid">
    <div class="row main-content" style="margin-top: 20px;">
        <div class="col-sm-8 col-md-offset-2">
            <?php
            $form = $this->baseline_survey_form;
            $form->prepare();
            echo $this->form()->openTag($form);
            ?>
            
             <?php
            $messages = $this->flashMessenger()->getMessages();
            if (!empty($messages)) {
                ?>
                <div style="padding:5px 30px 5px 16px;" class="alert <?php echo isset($messages[0]['error']) ? 'alert-danger' : 'alert-success'; ?> alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <?php echo isset($messages[0]['error']) ? $messages[0]['error'] : $messages[0]['success']; ?>
                </div>	
            <?php } ?>
            
            <div class="form-group">
                <label for="country" >Country</label>
                <?php echo $this->formElement($form->get('country_id')); ?>
                <span class="common-error-msg"><?php echo $this->formElementErrors($form->get('country_id')); ?></span>
            </div>
            <div class="form-group">
                <label for="agency" >Agency</label>
                <?php echo $this->formElement($form->get('agency_id')); ?>
                <span class="common-error-msg"><?php echo $this->formElementErrors($form->get('agency_id')); ?></span>
            </div>
            <div class="form-group">
                <label for="common_services" >Common Services</label>
                <?php echo $this->formElement($form->get('service_id')); ?>
                <span class="common-error-msg"><?php echo $this->formElementErrors($form->get('service_id')); ?></span>
            </div>
            <div class="form-group">
                <h2>Common Procurement</h2>
                <label for="common_procurement" >Existing procurement service</label>
                <?php echo $this->formElement($form->get('proc_service')); ?>
                <span class="common-error-msg"><?php echo $this->formElementErrors($form->get('proc_service')); ?></span>
                <div id="other_container_proc_service">
                	
                </div>
            </div>
            <div class="form-group">
                <h2>Key Performance Indicators (Baseline and Target)</h2>
                <h2>Baseline -during baseline year</h2>
                <label for="by_spending_cost" >Baseline Year- Spending/Cost (US$)<span>Please indicate total amount spent in baseline year on this service/item</span></label>
                <?php echo $this->formElement($form->get('baseline_cost')); ?>
                <span class="common-error-msg"><?php echo $this->formElementErrors($form->get('baseline_cost')); ?></span>
            </div>
            <div class="form-group">
                <label for="by_quantity_purchased" >Baseline Year- Quantity purchased<span>Please indicate total amount spent in baseline year on this service/item</span></label>
                <?php echo $this->formElement($form->get('baseline_quantity_purchased')); ?>
                <span class="common-error-msg"><?php echo $this->formElementErrors($form->get('baseline_quantity_purchased')); ?></span>
            </div>
            <div class="form-group">
                <label for="by_ranking" >Baseline Year-Service Quality (Performance Ranking)<span>Please indicate the average service quality ranking with or without LTA/ MoU or common/harmonized approach</span></label>
                <?php echo $this->formElement($form->get('baseline_service_quality')); ?>
                <span class="common-error-msg"><?php echo $this->formElementErrors($form->get('baseline_service_quality')); ?></span>
            </div>
            <div class="form-group">
                <h2>Target: (By the end of the BoS Circle)</h2>
                <label for="ty_cost_saving" >
                    Target Year- Cost Savings/Avoidance ($)
                    <span>At the end of BoS circle, by using common/harmonized approach-Agency or Common/Joint LTAs or MoUs or Contracts, how much can you save/avoid?
                    </span>
                </label>
                <?php echo $this->formElement($form->get('target_cost_save')); ?>
                <span class="common-error-msg"><?php echo $this->formElementErrors($form->get('target_cost_save')); ?></span>
                <div id="other_container_target_cost_save"></div>
            </div>
            <div class="form-group">
                <label for="ty_efficiency_gain" >
                    Target Year- Cost Savings/Avoidance ($)
                    <span>At the end of BoS circle, by using common/harmonized approach-Agency or Common/Joint LTAs or MoUs or Contracts, how much time you target saving?
                    </span>
                </label>
                <?php echo $this->formElement($form->get('target_efficiency_gain')); ?>
                <span class="common-error-msg"><?php echo $this->formElementErrors($form->get('target_efficiency_gain')); ?></span>
                <div id="other_container_target_efficiency_gain"></div>
            </div>
            <div class="form-group">
                <label for="ty_ranking" >
                    Target Year- Cost Savings/Avoidance ($)
                    <span>Please indicate the average service quality ranking you intend to realize during BoS period. Note, ranking must be equal to or higher than baseline service quality ranking
                    </span>
                </label>
                <?php echo $this->formElement($form->get('target_service_quality')); ?>
                <span class="common-error-msg"><?php echo $this->formElementErrors($form->get('target_service_quality')); ?></span>
            </div>
            <div class="form-group">
                <h2>Managing Agency</h2>
                <label for="ma_managing_entity" >
                    Managing Entity
                    <span>(Service Manager) </span>
                </label>
                <?php echo $this->formElement($form->get('managing_entity')); ?>
                <span class="common-error-msg"><?php echo $this->formElementErrors($form->get('managing_entity')); ?></span>
            </div>
            <div class="form-group">
                <label for="ma_clients" >
                    Clients
                    <span>Agencies using the Services (separated by commas)</span>
                </label>
                <?php echo $this->formElement($form->get('clients')); ?>
                <span class="common-error-msg"><?php echo $this->formElementErrors($form->get('clients')); ?></span>
            </div>
            <div class="form-group">
                <h2>Modality</h2>
                <label for="modality_outsource" >
                    Outsources
                </label>
                <?php echo $this->formElement($form->get('modality')); ?>
                <span class="common-error-msg"><?php echo $this->formElementErrors($form->get('modality')); ?></span>
            </div>
            <div class="form-group">
                <label for="modality_inhouse" >
                    In-house
                </label>
                <?php echo $this->formElement($form->get('modality_type')); ?>
                <span class="common-error-msg"><?php echo $this->formElementErrors($form->get('modality_type')); ?></span>
            </div>
            <div class="form-group">
                <h2>ASSESSMENT</h2>
                <label for="assessment_action" >
                    Recommended Action
                </label>
                <?php echo $this->formElement($form->get('assessment_action')); ?>
                <span class="common-error-msg"><?php echo $this->formElementErrors($form->get('assessment_action')); ?></span>
            </div>
            <div class="form-group">
                <label for="additional_comment" >
                    Additional Comments
                </label>
                <?php echo $this->formElement($form->get('additional_comment')); ?>
                <span class="common-error-msg"><?php echo $this->formElementErrors($form->get('additional_comment')); ?></span>
            </div>
            <div class="form-group">
                <label for="needs_justification" >
                    Need Justification
                </label>
                <?php echo $this->formElement($form->get('needs_justification')); ?>
                <span class="common-error-msg"><?php echo $this->formElementErrors($form->get('needs_justification')); ?></span>
            </div>

            <div class="form-group">
                <?php
                //echo $this->formRow($form->get('loginCsrf'));
                echo $this->formElement($form->get('submit'));
                ?>
            </div>
            <?php echo $this->form()->closeTag($form); ?>    
        </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
	$(".has-other-option").on("change", function(){
		var optionVal = $(this).val();
		var identity = $(this).attr('id');
		if(optionVal == 'Other'){
			var content = '<input style="margin-top:10px;" name="other_'+identity+'" class="form-control" id="other_'+identity+'" placeholder="Your answer" value="" type="text">';
			console.log(content);
			addOtherOption('other_container_'+identity, content);
		} else {
			removeOtherOption('other_'+identity);
		}
	});
});

function addOtherOption(container, htmlContent){
	if(container != ''){
		$("#"+container).html(htmlContent);
	}
}

function removeOtherOption(elm){
	var isExists = document.getElementById('#'+elm);
	if ($("#"+elm).length > 0){
		$("#"+elm).remove();
	}
}
</script>