<section class="section form_section">
	<div class="container">
		<h2 class="section-title">
			Appleton <strong>Consulting Corporation</strong>
		</h2>
		<p class="h5">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
		<?php
        $messages = $this->flashMessenger()->getMessages();
        if (!empty($messages)) {
            ?>
            <div style="padding:5px 30px 5px 16px;" class="alert <?php echo isset($messages[0]['error']) ? 'alert-danger' : 'alert-success'; ?> alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <?php echo isset($messages[0]['error']) ? $messages[0]['error'] : $messages[0]['success']; ?>
            </div>	
        <?php } ?>
        <div id="message"></div>
		<div class="row">
			<div class="board">
				<div class="board-inner">
					<ul class="nav nav-tabs" id="myTab">
						<div class="liner"></div>
						<li class="active"><a href="#Stocktaking" data-toggle="tab"
							title="Baseline Analysis by Agency"> <span class="round-tabs one"> <i
									class="glyphicon glyphicon-file"></i>
							</span>
						</a></li>

						<li><a href="#newneeds" data-toggle="tab" title="New Needs Analysis"> <span
								class="round-tabs two"> <i class="glyphicon glyphicon-lock"></i>
							</span>
						</a></li>
						<li><a href="#activity-based-costing" data-toggle="tab"
							title="ACTIVITY-BASED COSTING of PROCUREMENT PROCESS"> <span class="round-tabs three"> <i
									class="glyphicon glyphicon-gift"></i>
							</span>
						</a></li>

						<li><a href="#settings" data-toggle="tab" title="blah blah"> <span
								class="round-tabs four"> <i class="glyphicon glyphicon-comment"></i>
							</span>
						</a></li>

						<li><a href="#doner" data-toggle="tab" title="completed"> <span
								class="round-tabs five"> <i class="glyphicon glyphicon-ok"></i>
							</span>
						</a></li>

					</ul>
				</div>

				<div class="tab-content">
                    <?php echo $this->partial('partials/baseline', $this->data); ?>
                    <?php echo $this->partial('partials/newneeds', $this->data); ?>
                    <?php echo $this->partial('partials/processcost', $this->data); ?>
                    <?php echo $this->partial('partials/misc', $this->data); ?>
					<div class="clearfix"></div>
				</div>

			</div>
		</div>
	</div>
</section>