<div class="tab-pane fade in active" id="Stocktaking">
    <form name="baseline_form" id="baseline_form" method="post">
        <input type="hidden" name="customer_id" id="customer_id" value="<?php echo $this->customer_id; ?>" />
        <input type="hidden" name="survey_id" id="survey_id" value="" />
        <h3 class="head">
            Baseline Analysis by Agency
        </h3>
        <p class="narrow">To be completed per agency only and not per OMT member</p>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="baseline_country">Country</label>
                    <select id="baseline_country" name="baseline_country" class="form-control">
                        <?php $this->setSelectOptions()->setItems($this->countries, '-Select Country-')->render(); ?>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="baseline_agency">Agency</label>
                    <select id="baseline_agency" name="baseline_agency" class="form-control">
                        <?php $this->setSelectOptions()->setItems($this->agencies, '-Select Agency-')->render(); ?>
                    </select>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="baseline_common_service">Service Area</label>
                    <select id="baseline_common_service" name="baseline_common_service" class="form-control">
                        <?php $this->setSelectOptions()->setItems($this->services, '-Select Service-')->render(); ?>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="time">Common Procurement - Existing procurement service</label>
                    <select id="baseline_existing_service" name="baseline_existing_service" class="form-control">
                        <option value="">-Select Existing Service-</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">

            <h3 class="head text-center">
                Key Performance Indicators (Baseline and Target)
            </h3>
            <p class="narrow text-center">Baseline -during baseline year</p>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="select1">Baseline Year</label>
                    <select id="baseline_year" name="baseline_year" class="form-control">
                        <?php $this->setSelectOptions()->setItems($this->yearRange, '-Select Baseline Year-')->render(); ?>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="select1">Baseline Year- Spending/Cost (US$)</label>
                    <input name="baseline_year_cost" id="baseline_year_cost" type="text" class="form-control" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="select2">Baseline Year- Quantity purchased</label>
                    <input name="baseline_qty_purchased" id="baseline_qty_purchased" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="select3">Baseline Year-Service Quality (Performance Ranking)</label>
                    <select id="baseline_year_service_quality" name="baseline_year_service_quality" class="form-control">
                        <?php $this->setSelectOptions()->setItems($this->baselineServiceQuality)->render(); ?>
                    </select>
                </div>
            </div>
            <p class="narrow text-center">Target: (By the end of the BoS Circle)</p>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="select4">Target Year</label>
                    <select id="target_year" name="target_year" class="form-control">
                        <?php $this->setSelectOptions()->setItems($this->yearRange, '-Select Target Year-')->render(); ?>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="select4">Target Year- Cost Savings/Avoidance ($)</label>
                    <select id="target_year_cost" name="target_year_cost" class="form-control">
                        <?php $this->setSelectOptions()->setItems($this->targetCostSave)->render(); ?>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="select3">Target Year- Efficiency Gains (hrs)</label>
                    <select id="target_year_efficiency_gain" name="target_year_efficiency_gain" class="form-control">
                        <?php $this->setSelectOptions()->setItems($this->targetEfficiencyGain)->render(); ?>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="select4">Target Year-Service Quality (Performance Ranking)</label>
                    <select id="target_year_service_quality" name="target_year_service_quality" class="form-control">
                        <?php $this->setSelectOptions()->setItems($this->targetServiceQuality)->render(); ?>
                    </select>
                </div>
            </div>
            <p class="narrow text-center">Managing Agency</p>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="select3">Managing Entity</label>
                    <select id="managing_entity" name="managing_entity" class="form-control">
                        <?php $this->setSelectOptions()->setItems($this->managingEntity, '-Select Service Manager-')->render(); ?>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="select4">Clients</label>
                    <select id="clients" name="clients[]" multiple="multiple" class="form-control">
                        <?php $this->setSelectOptions()->setItems($this->clients, '-Select Clients-')->render(); ?>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="select3">Modality</label>
                    <select id="modality" name="modality" class="form-control">
                        <?php $this->setSelectOptions()->setItems($this->modality, '-Select Modality-')->render(); ?>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="select4">Modality Type</label>
                    <select id="madality_type" name="madality_type" class="form-control">
                        <option value="">-Select Modality Type-</option>
                    </select>
                </div>
            </div>
            <p class="narrow text-center">Assessment</p>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="select3">Recommended Action</label>
                    <select id="recommended_action" name="recommended_action" class="form-control">
                        <?php $this->setSelectOptions()->setItems($this->assessmentAction)->render(); ?>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="select4">Additional Comments</label>
                    <textarea name="additional_comment" id="additional_comment" class="form-control"></textarea>
                </div>
            </div>

            <div class="form-group text-center">
                <input name="baseline_form" id="baseline_form" type="submit" class="btn btn-success btn-outline-rounded green" value="Submit" />
            </div>

        </div>
    </form>
</div>

<script>
    $.validator.addMethod("valueNotEquals", function (value, element, arg) {
        return arg != value;
    }, "Value must not equal arg.");

    $.validator.addMethod("needsSelection", function(value, element) {
        return $(element).multiselect("getChecked").length > 0;
    });

    $("#baseline_form").validate({
        rules: {
            baseline_country: {valueNotEquals: ""},
            baseline_agency: {valueNotEquals: ""},
            baseline_common_service: {valueNotEquals: ""},
            baseline_existing_service: {valueNotEquals: ""},
            baseline_year: {valueNotEquals: ""},
            baseline_qty_purchased: {required: true},
            baseline_year_cost: {required: true},
            baseline_year_service_quality: {valueNotEquals: ""},
            target_year: {valueNotEquals: ""},
            target_year_efficiency_gain: {valueNotEquals: ""},
            target_year_cost: {required: true},
            target_year_service_quality: {valueNotEquals: ""},
            managing_entity: {valueNotEquals: ""},
            modality: {valueNotEquals: ""},
            madality_type: {valueNotEquals: ""},
            clients: {required: true},
            recommended_action: {valueNotEquals: ""},
            additional_comment: {required: true}
        },
        messages: {
            baseline_country: {valueNotEquals: "Select Country."},
            baseline_agency: {valueNotEquals: "Select Agency."},
            baseline_common_service: {valueNotEquals: "Select Service Area."},
            baseline_existing_service: {valueNotEquals: "Select Existing Service Area."},
            baseline_year: {valueNotEquals: "Select Baseline Year."},
            baseline_qty_purchased: {required: "Quentity purchased can't be empty."},
            baseline_year_cost: {required: "Baseline Year Cost can't be empty."},
            baseline_year_service_quality: {valueNotEquals: "Select Baseline Service Quality."},
            target_year: {valueNotEquals: "Select Target Year"},
            target_year_efficiency_gain: {valueNotEquals: "Select Target Year Efficiency Gain"},
            target_year_cost: {required: "Select Target Year Cost Savings/Avoidance ($)."},
            target_year_service_quality: {valueNotEquals: "Select Target Year Service Quality."},
            managing_entity: {valueNotEquals: "Select Managing Entity(Manager)."},
            modality: {valueNotEquals: "Select Modality."},
            madality_type: {valueNotEquals: "Select Modality Type."},
            clients: {required: "Select Client(s)."},
            recommended_action: {valueNotEquals: "Select Recommended Action."},
            additional_comment: {required: "Comment can't be empty."}
        }
    });
</script>