<div class="tab-pane fade" id="settings">
    <h3 class="head text-center">thanks for staying tuned!</h3>
    <p class="narrow text-center">Lorem ipsum dolor sit amet, his ea
        mollis fabellas principes. Quo mazim facilis tincidunt ut, utinam
        saperet facilisi an vim.</p>
</div>
<div class="tab-pane fade" id="doner">
    <div class="text-center">
        <i class="img-intro icon-checkmark-circle"></i>
    </div>
    <h3 class="head text-center">thanks for staying tuned!</h3>
    <p class="narrow text-center">Lorem ipsum dolor sit amet, his ea
        mollis fabellas principes. Quo mazim facilis tincidunt ut, utinam
        saperet facilisi an vim.</p>
</div>