<div class="tab-pane fade" id="newneeds">
    <h3 class="head">New Needs Analysis</h3>
    <p class="narrow">To be completed per agency only and not per OMT member</p>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label" for="time">Country</label> <select
                        id="time" name="time" class="form-control">
                    <option value="option-1">Afghanistan</option>
                    <option value="option-2">Albania</option>
                    <option value="option-3">Algeria</option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label" for="time">Agency</label> <select
                        id="time" name="time" class="form-control">
                    <option value="option-1">FAO</option>
                    <option value="option-2">WFP</option>
                    <option value="option-3">UNICEF</option>
                </select>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label" for="time">Common Services</label> <select
                        id="time" name="time" class="form-control">
                    <option value="option-1">Afghanistan</option>
                    <option value="option-2">Albania</option>
                    <option value="option-3">Algeria</option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label" for="time">Common Procurement - Existing procurement service</label> <select
                        id="time" name="time" class="form-control">
                    <option value="option-1">FAO</option>
                    <option value="option-2">WFP</option>
                    <option value="option-3">UNICEF</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <form>
            <h3 class="head text-center">Key Performance Indicators (Baseline and Target)</h3>
            <p class="narrow text-center">Baseline - during baseline year</p>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="select1">Baseline Year</label>
                    <select id="select4" name="select4" class="form-control">
                        <option value="">-Select Baseline Year-</option>
                        <option value="option-2">option-2</option>
                        <option value="option-3">option-3</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="select1">Baseline Year- Spending/Cost (US$)</label>
                    <input type="text" class="form-control" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="select2">Baseline Year- Quantity purchased</label>
                    <input type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="select3">Baseline Year-Service Quality (Performance Ranking)</label>
                    <select id="select3" name="select3" class="form-control">
                        <option value="">-Select Service Quality-</option>
                        <option value="option-2">option-2</option>
                        <option value="option-3">option-3</option>
                    </select>
                </div>
            </div>
            <p class="narrow text-center">Target: (By the end of the BoS Circle)</p>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="select4">Target Year</label>
                    <select id="select4" name="select4" class="form-control">
                        <option value="">-Select Target Year-</option>
                        <option value="option-2">option-2</option>
                        <option value="option-3">option-3</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="select4">Target Year- Cost Savings/Avoidance ($)</label>
                    <select id="select4" name="select4" class="form-control">
                        <option value="">-Select Cost Savings/Avoidance-</option>
                        <option value="option-2">option-2</option>
                        <option value="option-3">option-3</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="select3">Target Year- Efficiency Gains (hrs)</label>
                    <select id="select3" name="select3" class="form-control">
                        <option value="">-Select Efficiency Gains-</option>
                        <option value="option-2">option-2</option>
                        <option value="option-3">option-3</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="select4">Target Year-Service Quality (Performance Ranking)</label>
                    <select id="select4" name="select4" class="form-control">
                        <option value="">-Select Service Quality-</option>
                        <option value="option-2">option-2</option>
                        <option value="option-3">option-3</option>
                    </select>
                </div>
            </div>
            <p class="narrow text-center">Managing Agency</p>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="select3">Managing Entity</label>
                    <select id="select3" name="select3" class="form-control">
                        <option value="option-1">option-1</option>
                        <option value="option-2">option-2</option>
                        <option value="option-3">option-3</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="select4">Clients</label>
                    <select id="select4" name="select4" multiple="multiple" class="form-control">
                        <option value="option-1">option-1</option>
                        <option value="option-2">option-2</option>
                        <option value="option-3">option-3</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="select3">Modality</label>
                    <select id="select3" name="select3" class="form-control">
                        <option value="option-1">option-1</option>
                        <option value="option-2">option-2</option>
                        <option value="option-3">option-3</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="select4">Modality Type</label>
                    <select id="select4" name="select4" class="form-control">
                        <option value="option-1">option-1</option>
                        <option value="option-2">option-2</option>
                        <option value="option-3">option-3</option>
                    </select>
                </div>
            </div>
            <p class="narrow text-center">Assessment</p>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="select3">Recommended Action</label>
                    <select id="select3" name="select3" class="form-control">
                        <option value="option-1">option-1</option>
                        <option value="option-2">option-2</option>
                        <option value="option-3">option-3</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="select4">Needs Justification</label>
                    <textarea class="form-control"></textarea>
                </div>
            </div>

            <div class="form-group text-center">
                <button type="button" class="btn btn-success btn-outline-rounded green">Submit</button>
            </div>
        </form>
    </div>
</div>