<div class="tab-pane fade" id="activity-based-costing">
    <h3 class="head">ACTIVITY-BASED COSTING of PROCUREMENT PROCESS</h3>
    <p class="narrow">To be completed per agency only and not per OMT member</p>
    <form name="processcost_form" id="processcost_form" method="post">
    <input type="hidden" name="customer_id" id="customer_id" value="<?php echo $this->customer_id; ?>" />
    <input type="hidden" name="survey_id" id="survey_id" value="<?php echo $this->survey_id; ?>" />
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label" for="processcost_common_service">Service Area</label>
                <select id="processcost_common_service" name="processcost_common_service" class="form-control">
                    <?php $this->setSelectOptions()->setItems($this->services, '-Select Service-')->render(); ?>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label" for="time">Common Procurement - Existing procurement service</label>
                <select id="processcost_existing_service" name="processcost_existing_service" class="form-control">
                    <option value="">-Select Existing Service-</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <h3 class="head text-center">STANDARD PROCESS WITH OR WITHOUT LTA</h3>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label" for="select1">Process Step</label>
                <input name="process_step" id="process_step" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label" for="select3">Grade Level</label>
                <select id="grade_level" name="grade_level" class="form-control">
                    <?php $this->setSelectOptions()->setItems($this->grades)->render(); ?>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label" for="select2">Staff Involved</label>
                <input name="staff_involved" id="staff_involved" type="text" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label" for="select2">Time Required</label>
                <input name="time_required" id="time_required" type="text" class="form-control" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <b>Is Process without LTA?</b> <input style="display:inline-block;" type="checkbox" name="is_lta" id="is_lta" value="1" />
            </div>
            <div class="form-group">&nbsp;</div>
        </div>
        <br />
        <h3 class="head text-center pull-left" style="width:100%">ADDITIONAL KEY INFORMATION</h3>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label" for="select1">Total No. Of UN Agencies In the Country</label>
                <input name="un_agencies" id="un_agencies" type="text" class="form-control" value="<?php echo $this->additional_key_info['un_agencies']; ?>" />
            </div>
            <div class="form-group">
                <label class="control-label" for="select1">Total No. Of LTAs To Be Developed</label>
                <input name="ltas_developed" id="ltas_developed" type="text" class="form-control" value="<?php echo $this->additional_key_info['number_of_LTAs']; ?>" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label" for="select1">UNDAF Cycle(In Years)</label>
                <input name="UNDAF_cycle" id="UNDAF_cycle" type="text" class="form-control" value="<?php echo $this->additional_key_info['undaf_cycle']; ?>" />
            </div>
            <div class="form-group">
                <label class="control-label" for="select1">Total No. Of OMT working groups</label>
                <input name="omt_groups" id="omt_groups" type="text" class="form-control" value="<?php echo $this->additional_key_info['number_of_OMTs']; ?>" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label" for="select1">Grade Of Dedicated Common Service Manager</label>
                <select id="service_manager_grade" name="service_manager_grade" class="form-control">
                    <?php $this->setSelectOptions()->setItems($this->grades,'',$this->additional_key_info['service_manager'])->render(); ?>
                </select>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="form-group text-center">
            <input name="btn_processcost_form" id="btn_processcost_form" type="submit" class="btn btn-success btn-outline-rounded green" value="Submit" />
        </div>
    </div>
    </form>
</div>
<script>
    $.validator.addMethod("valueNotEquals", function (value, element, arg) {
        return arg != value;
    }, "Value must not equal arg.");

    $.validator.addMethod("needsSelection", function(value, element) {
        return $(element).multiselect("getChecked").length > 0;
    });

    $("#processcost_form").validate({
        rules: {
            processcost_common_service: {valueNotEquals: ""},
            processcost_existing_service: {valueNotEquals: ""},
            process_step: {required: true},
            grade_level: {valueNotEquals: ""},
            staff_involved: {required: true},
            time_required: {required: true},
            is_lta: {required: true},
            un_agencies: {required: true},
            ltas_developed: {required: true},
            UNDAF_cycle: {required: true},
            omt_groups: {required: true},
            service_manager_grade: {required: true}
        },
        messages: {
            processcost_common_service: {valueNotEquals: "Select service area."},
            processcost_existing_service: {valueNotEquals: "Select existing service."},
            process_step: {required: "Process step can't be empty."},
            grade_level: {valueNotEquals: "Select grade level."},
            staff_involved: {required: "Please enter the name of staff involved."},
            time_required: {required: "Enter the time required."},
            is_lta: {required: "Please check if this process step has LTA."},
            un_agencies: {required: "Enter Total No. Of UN Agencies In the Country."},
            ltas_developed: {required: "Enter Total No. Of LTAs To Be Developed."},
            UNDAF_cycle: {required: "Enter UNDAF Cycle (In Years)"},
            omt_groups: {required: "Enter Total No. Of OMT working groups."},
            service_manager_grade: {required: "Enter Grade Of Dedicated Common Service Manager."}
        },
        submitHandler: function (form) {
            $.ajax({
                type: "POST",
                url: "/process-survey-processcost",
                data: $(form).serialize(),
                dataType:'json',
                success: function (data) {
                    $('#message').html("<h2>"+data.message+"</h2>");
                }
            });
            return false; // required to block normal submit since you used ajax
        }
    });
</script>