<div class="welcome">
    <img src="/admin_assets/images/logo-big.png" alt class="logo">
    <h1><strong>Welcome</strong> Stranger</h1>
    <h5>BoMS Administrator</h5>

    <?php 
		$form = $this->loginForm;
		$form->prepare();
		echo $this->form()->openTag($form);
		?>
		<div class="input-group">
			<?php echo $this->formElement($form->get('email')); ?>
			<div class="input-group-addon"><i class="fa fa-user"></i></div>
			<span class="common-error-msg">
				<?php echo $this->formElementErrors($form->get('email'));?>
			</span>
		</div>
		
		<div class="input-group">
	    	<?php echo $this->formElement($form->get('password')); ?>
	    	<div class="input-group-addon"><i class="fa fa-key"></i></div>
	    	<span class="common-error-msg">
	    		<?php echo $this->formElementErrors($form->get('password'));?>
	    	</span>
    	</div>
    	
    	<section class="new-acc">
        	<?php
		        //echo $this->formRow($form->get('loginCsrf'));
		        echo $this->formElement($form->get('submit'));
		    ?>
    	</section>
	<?php echo $this->form()->closeTag($form); ?>  

	<?php /*
    <form id="form-signin" class="form-signin">
      <section>
        <div class="input-group">
          <input type="text" class="form-control" name="username" placeholder="Username">
          <div class="input-group-addon"><i class="fa fa-user"></i></div>
        </div>
        <div class="input-group">
          <input type="password" class="form-control" name="password" placeholder="Password">
          <div class="input-group-addon"><i class="fa fa-key"></i></div>
        </div>
      </section>
      
      <section class="new-acc">
        <button class="btn btn-greensea">Login</button>
      </section>
    </form>
    <?php */ ?>
</div>


<?php /*
<?php //echo $this->partial('flash-message'); ?>
<div class="page-content container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<div class="login-wrapper">
		        <div class="box">
		            <div class="content-wrap">
		                <h6>Sign In</h6>
		                <?php 
							$form = $this->loginForm;
							$form->prepare();
							echo $this->form()->openTag($form);
							?>
							<?php echo $this->formElement($form->get('email')); ?>
							<span class="common-error-msg"><?php echo $this->formElementErrors($form->get('email'));?></span>
							
		                	<?php echo $this->formElement($form->get('password')); ?>
		                	<span class="common-error-msg"><?php echo $this->formElementErrors($form->get('password'));?></span>
		                	
		                	<div class="action">
		                    	<?php
							        //echo $this->formRow($form->get('loginCsrf'));
							        echo $this->formElement($form->get('submit'));
							    ?>
		                	</div>
						<?php echo $this->form()->closeTag($form); ?>             
		            </div>
		        </div>
		    </div>
		</div>
	</div>
</div>
<?php */ ?>