<div class="form-wrapper" style="width:60%;margin:0 auto;">
	<div class="row">
		<div class="col-md-12">
			<div class="content-box-large">
				<div class="panel-heading">
					<div class="panel-title">Admin Profile</div>

					<div class="panel-options">
						<a href="#" data-rel="collapse"><i
							class="glyphicon glyphicon-refresh"></i></a> <a href="#"
							data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
					</div>
				</div>
				<div class="panel-body">
					
					<?php 
						$form = $this->profileForm;
						$form->prepare();
						echo $this->form()->openTag($form);
						?>
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-2 control-label">Email</label>
							<div class="col-sm-10">
								<?php echo $this->formElement($form->get('email')); ?>
								<span class="common-error-msg"><?php echo $this->formElementErrors($form->get('email'));?></span>
							</div>
						</div>
						
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-2 control-label">First Name</label>
							<div class="col-sm-10">
								<?php echo $this->formElement($form->get('first_name')); ?>
								<span class="common-error-msg"><?php echo $this->formElementErrors($form->get('first_name'));?></span>
							</div>
						</div>
						
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-2 control-label">Last Name</label>
							<div class="col-sm-10">
								<?php echo $this->formElement($form->get('last_name')); ?>
								<span class="common-error-msg"><?php echo $this->formElementErrors($form->get('last_name'));?></span>
							</div>
						</div>
						
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<?php
							        //echo $this->formRow($form->get('loginCsrf'));
							        echo $this->formElement($form->get('submit'));
							    ?>
							</div>
						</div>
					<?php echo $this->form()->closeTag($form); ?>    
				</div>
			</div>
		</div>
	</div>
</div>