<!-- breadcrumbs -->
<div class="breadcrumbs">
  <?php $this->pageBreadcrumbs()->setItems(['Home'=>'','Baseline/Stock Analysis'=>'#']); echo $this->pageBreadcrumbs()->render(); ?>
</div>
<!-- /breadcrumbs -->

<?php $messages = $this->flashMessenger()->getMessages(); if(!empty($messages) && !is_array($messages[0])){ ?>
	<div style="padding:5px 30px 5px 16px; margin:10px;margin-top:35px;" class="alert alert-info alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	  	<?php echo $messages[0]; ?>
	</div>	
<?php } ?>

<!-- content main container -->
<div class="main">
	<!-- row -->
	<div class="row">
		<!-- col 12 -->
		<div class="col-md-12">
                
                
                <!-- tile -->
                <section class="tile cornered">


                  <!-- tile header -->
                  <div class="tile-header">
                    <h1><strong>Baseline/Stock</strong> Analysis</h1>
                    <div class="controls">
                      <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
                      <a href="#" class="remove"><i class="fa fa-times"></i></a>
                    </div>
                  </div>
                  <!-- /tile header -->

                  <!-- tile body -->
                  <div class="tile-body nopadding">
                    
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Sr. No.</th>
                          <th>Customer</th>
                          <th>Service</th>
                          <th>Existing New Service</th>
                          <th>Total Amount($)</th>
                          <th>Transactions</th>
                          <th>Unit Txn Cost</th>
                          <th>Total Txn Cost(ST)</th>
                          <th>Total Cost($)</th>
                          <th>Unit Saving($)</th>
                          <th>Total Saving On TC</th>
                          <th>Reduction On SCE(%)</th>
                          <th>Annual Saving On SCE</th>
                          <!-- <th>Quality Ranking</th>
                          <th>Comment</th>  -->
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                      	<?php if(!empty($this->baseline_data)){ ?>
                      		<?php $iTrator = 1; foreach($this->baseline_data as $data){ ?>
                      			<tr class="active">
                                  <td><?php echo $iTrator; ?></td>
                                  <td><?php echo $data['customer_name']; ?></td>
                                  <td><?php echo $data['service_area']; ?></td>
                                  <td><?php echo $data['existing_service']; ?></td>
                                  <td>$<?php echo $data['baseline_cost']; ?></td>
                                  <td><?php echo $data['baseline_quantity_purchased']; ?></td>
                                  <td>$<?php echo $data['unit_txn_cost']; ?></td>
                                  <td>$<?php echo number_format($data['total_txn_cost'],2); ?></td>
                                  <td>$<?php echo number_format($data['total_cost'],2); ?></td>
                                  <td>$<?php echo number_format($data['unit_saving'],2); ?></td>
                                  <td>$<?php echo number_format($data['total_saving'],2); ?></td>
                                  <td><?php echo $data['target_cost_save']; ?>%</td>
                                  <td>$<?php echo number_format($data['annual_saving_on_sce'],2); ?></td>
                                  <!-- <td><?php echo $data['baseline_service_quality']; ?></td>
                                  <td><?php echo substr($data['additional_comment'],0,10); ?>...</td>  -->
                                  <td>
                                  	<a class="btn-activity-based-costing" data-survey-user-id="<?php echo $data['user_id']; ?>" data-survey-id="<?php echo $data['survey_id']; ?>" data-rel="<?php echo $data['id']; ?>" href="javascript: void(0);" title="MANAGE ACTIVITY-BASED COSTING"><i class="fa fa-plus-square-o"></i></a>
                                  </td>
                                </tr>
                      		<?php $iTrator++; } ?>
                      	<?php } ?>
                      </tbody>
                    </table>

                  </div>
                  <!-- /tile body -->
                

                  <!-- show code btn -->
                  <button class="btn show-code" data-toggle="modal" data-target="#table07CodeModal">
                    show code
                  </button>
                  <!-- /show code btn -->
          


                </section>
                <!-- /tile -->


              </div>
		<!-- /col 12 -->
	</div>
	<!-- /row -->
</div>
<!-- /content container -->

<script>
$(document).ready(function(){
	
	 
	$('.btn-activity-based-costing').on('click', function () {
		$("#process_form #service_id").val($(this).attr('data-rel'));
		$("#process_form #survey_id").val($(this).attr('data-survey-id'));
		$("#process_form #user_id").val($(this).attr('data-survey-user-id'));
		$("#model-activity-based-costing").modal('show');
	});

	$('#model-activity-based-costing').on('shown.bs.modal', function () {
		showLoader();
		$(".alert_messages").html('');
		loadGrades();
		loadProcessSteps();
	})
	
	$('#btn_submit_process_step').on('click', function () {
		var stockID = $("#process_form #service_id").val();
		var surveyID = $("#process_form #survey_id").val();
		var userID = $("#process_form #user_id").val();
		var processStep = $("#process_step").val();
		var staffInvolved = $("#staff_involved").val();
		var gradeLevel = $("#grade_level").val();
		var timeRequired = $("#time_required").val();
		var isLTA = 0;
		if($('input[id="has_lta"]:checked').length > 0){
			isLTA = 1;
		}
		if(processStep != '' && staffInvolved != '' && gradeLevel != '' && timeRequired != ''){
			showLoader(); 
			saveProcessSteps({'action': 'save_process_steps', 'stock_id':stockID, 'survey_id':surveyID, 'user_id':userID, 'process_step':processStep, 'staff_involved':staffInvolved, 'grade_level':gradeLevel, 'time_required':timeRequired, 'has_LTA':isLTA});
			loadProcessSteps();
		} else {
			$(".alert_messages").html('<div class="alert alert-danger alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>Please fill all the fileds in the form.</div>');
		}		
		return false;
		
	})
	
	$(document).on('click', '.remove_staff_cost', function(){
		var costID = $(this).attr('rel');
		if(true === confirm('Are you sure to delete this entry.')){
			showLoader(); 
			$.ajax({
	            type: 'POST',
	            url: "/ajax-requests",
	            data: {'action':'remove_cost', 'cost_id':costID},
	            dataType: 'json',
	            success: function (res) {
	                if(res.status == 'SUCCESS'){
	            		$(".alert_messages").html('<div class="alert alert-success alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>Grade cost has been deleted successfully.</div>');
	            		loadProcessSteps();
	                } else {
	                	$(".alert_messages").html('<div class="alert alert-danger alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>Error : Something went wrong, please try later.</div>');
	                }     
	            }
	        });
		} else {
			return false;
		}
	});

	function loadGrades(){
		var stockID = $("#process_form #service_id").val();
        $.ajax({
            type: 'POST',
            url: "/ajax-requests",
            data: {'action': 'get_grades'},
            dataType: 'json',
            success: function (res) {
                var options;
                options += '<option value="">-Select Grade Level-</option>';
                $.each(res.data,function(index, val) {
                    options += '<option value="'+val.id+'">'+val.name+'</option>';
                });
                $('#grade_level').html(options);
            }
        });
	}

	function loadProcessSteps(){
		var stockID = $("#process_form #service_id").val();
		
        $.ajax({
            type: 'POST',
            url: "/ajax-requests",
            data: {'action': 'get_process_steps', 'stock_id':stockID},
            dataType: 'json',
            success: function (res) {
                var tableHTML = '<table class="table table-bordered"><thead><tr><th>Process Step</th><th>Staff Involved</th><th>Grade Level</th><th>Time Required(Hours)</th><th>Is LTA?</th><th>Action</th></tr></thead><tbody>';
                
            	if(res.status == 'SUCCESS'){
            		$.each(res.data,function(index, val) {
                		var isLTA = 'No';
                		if(val.has_LTA == '1'){ isLTA = 'Yes'; }
                        tableHTML += '<tr><td>'+val.process_step+'</td><td>'+val.staff_involved+'</td><td>'+val.grade_name+'</td><td>'+val.time_required+'</td><td>'+isLTA+'</td><td><a class="remove_staff_cost" rel="'+val.id+'" title="Delete" href="javascript: void(0);">X</a></td></tr>';          	
                    });
                } else {
                	tableHTML += '<tr><td colspan="5" align="center">No Records Found!</td></tr>';
                }  
            	tableHTML += '</tbody></table>';  
            	$("#disp_process_step").html(tableHTML);       	
            }
        });
        
	}

	function saveProcessSteps(params){
        $.ajax({
            type: 'POST',
            url: "/ajax-requests",
            data: params,
            dataType: 'json',
            success: function (res) {
            	if(res.status == 'SUCCESS'){
                	if(res.data.message === null || res.data.message === undefined ){
                		$(".alert_messages").html('<div class="alert alert-success alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>Grade cost has been added successfully.</div>');
        				$("#process_form input[type=text], #process_form select").val("");	
                    } else {
                    	$(".alert_messages").html('<div class="alert alert-danger alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>'+res.data.message+'</div>');
                    }
                }
            }
        });
	}

	function showLoader(){
		var loaderHTML = '<div class="loading-container" style="margin:150px auto;width: 100%;text-align: center;"><img src="/admin_assets/images/loader1.gif" /></div>';
		$("#disp_process_step").html(loaderHTML);
	}

	function hideLoader(){
		$("#disp_process_step").html('');
	}
});
</script>

<div id="model-activity-based-costing" class="modal fade" data-backdrop="static" role="dialog" style="display: none;">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">ACTIVITY-BASED COSTING of PROCUREMENT PROCESS</h4>
      </div>
      <div class="modal-body">
      	<div class="alert_messages"></div>
        <form name="process_form" id="process_form" class="form-inline" method="post">
         	<input type="hidden" name="service_id" id="service_id" value="" />
         	<input type="hidden" name="survey_id" id="survey_id" value="" />
         	<input type="hidden" name="user_id" id="user_id" value="" />
          	<div class="form-group">
            	<input id="process_step" name="process_step" type="text" class="form-control" placeholder="Process Step" />
          	</div>
          	<div class="form-group">
                <input id="staff_involved" name="staff_involved" type="text" class="form-control" placeholder="Staff Involved" />
            </div>
            <div class="form-group">
                <select name="grade_level" id="grade_level">
                	<option value="">-Select Grade Level-</option>
                </select>
            </div>
            <div class="form-group">
                <input id="time_required" name="time_required" type="text" class="form-control" placeholder="Time Required" />
            </div>
            <div class="form-group">
				<input id="has_lta" name="has_lta" type="checkbox" class="form-control" value="1" /> Is LTA?
            </div>
            <button name="btn_submit_process_step" id="btn_submit_process_step" type="submit" class="btn btn-default">Add</button>
        </form> 
        
        <div id="disp_process_step" style="height:350px;overflow-y:auto;margin-top:20px;"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
