<?= $this->doctype() ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?= $this->headTitle('BoMS | Business Operation Management System')->setSeparator(' - ')->setAutoEscape(false) ?>

        <?= $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?= $this->headLink(['rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'])
            ->prependStylesheet($this->basePath('css/font-awesome.min.css'))
            ->prependStylesheet($this->basePath('css/custom.css'))
            ->prependStylesheet($this->basePath('css/bootstrap.min.css'))
            
        ?>

        <!-- Scripts -->
        <?= $this->headScript()
            ->prependFile($this->basePath('js/jquery.validate.min.js'))
            ->prependFile($this->basePath('js/survey.js'))
            ->prependFile($this->basePath('js/bootstrap.min.js'))
            ->prependFile($this->basePath('js/jquery-2.2.1.min.js'))
        ?>

        <script type="text/javascript">
        $(document).ready(function(){
            // alert('hello');
            if ($('.test').length >= 8) { 
                alert('yes');
            }
        });
        </script>

    </head>
    
    <body>
        <header class="site-header">
          <div class="header-top">
            <div class="container">
              <div class="col-xs-6">
                <a href="<?php echo $this->url('home'); ?>" class="logo"><img src="img/logo.png"></a>
              </div>
              <div class="col-xs-6">
                <ul class="user-access">
                    <?php
                    if ($this->identity()) {
                        ?>
                        <li><a href="<?php echo $this->url('customer-logout'); ?>"><span class="ico ico-logout"></span>Logout</a></li>
                    <?php } else {
                        ?>
                        <li><a href="<?php echo $this->url('customer-login'); ?>"><span class="ico ico-login"></span>Login</a></li>
                        <li><a href="<?php echo $this->url('customer-registration'); ?>"><span class="ico ico-signup"></span>Signup</a></li>
                    <?php } ?>
                </ul>
              </div>
            </div>
          </div>
          <div class="navigation">
            <div class="container">

              <nav class="navbar">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                  </div>

                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                      <li><a href="#">Home</a></li>
                      <li><a href="#">About Us</a></li>
                      <li><a href="#">Services</a></li>
                      <li><a href="#">Pricing</a></li>
                      <li><a href="#">Contact Us</a></li>
                    </ul>
                   
                    <ul class="navbar-right social-links">
                      <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    </ul>
                  </div>
              
              </nav>
            </div>
          </div>
        </header>
        <?php if($CURRENT_ROUTE_NAME == 'home'): ?>
        <section class="slider section">
            <img src="img/banner.jpg">
            <div class="overlay">
              <div class="overlay-centered">
                <div class="container">
                  <div class="overlay-content">
                  <h2>We Give Solutions to your <strong>Business</strong></h2>
                  <p> Appleton Consulting Corporation is a global Business Process Reengineering consultancy firm that specializes in supporting business superior growth and development.</p>
                  </div>
                </div>
              </div>
            </div>
        </section>
      <?php endif; ?>
        
        <?= $this->content ?>            
        <?= $this->inlineScript() ?>
        
        <footer class="site-footer">
          <div class="container">
            <div class="row">
              <div class="col-md-3 col-sm-3 col-xs-12">
              <a href="index.html" class="footer-logo"><img src="img/logo-footer.png"></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-12">
                <h3>Contact Us</h3>
                <address>
                  <p><i class="fa fa-map-marker" aria-hidden="true"></i> West Road, South Sfrica, seram 113</p>
                  <p><i class="fa fa-clock-o" aria-hidden="true"></i> Tuesday-Monday | 9:00am-6:00pm</p>
                  <p><i class="fa fa-envelope-o" aria-hidden="true"></i> Email: example@email.com</p>
                  <p><i class="fa fa-phone" aria-hidden="true"></i> Phone: +1-23-456789</p>
                </address>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-12">
              <h3>Categories</h3>
                <ul class="quick-links">
                  <li><a href="#">About</a></li>
                  <li><a href="#">Services</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-12">
                <h3>Newsletter</h3>
                <form class="form-subscribe">
                  <input type="email" name="" placeholder="Email address" class="form-control">
                  <input type="submit" name="" value="Subscribe" class="btn">
                </form>
                <ul class="social-links">
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
    </body>
</html>
