<!-- breadcrumbs -->
<div class="breadcrumbs">
  <?php $this->pageBreadcrumbs()->setItems(['Home'=>'','Consultants'=>'#']); echo $this->pageBreadcrumbs()->render(); ?>
</div>
<!-- /breadcrumbs -->

<?php $messages = $this->flashMessenger()->getMessages(); if(!empty($messages) && !is_array($messages[0])){ ?>
	<div style="padding:5px 30px 5px 16px; margin:10px;margin-top:35px;" class="alert alert-info alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	  	<?php echo $messages[0]; ?>
	</div>	
<?php } ?>

<!-- content main container -->
<div class="main">
	<!-- row -->
	<div class="row">
		<!-- col 12 -->
		<div class="col-md-12">
                
                
                <!-- tile -->
                <section class="tile cornered">


                  <!-- tile header -->
                  <div class="tile-header">
                    <h1><strong>Baseline/Stock</strong> Analysis</h1>
                    <div class="controls">
                      <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
                      <a href="#" class="remove"><i class="fa fa-times"></i></a>
                    </div>
                  </div>
                  <!-- /tile header -->

                  <!-- tile body -->
                  <div class="tile-body nopadding">
                    
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Sr. No.</th>
                          <th>Service</th>
                          <th>Total Amount($)</th>
                          <th>Transactions</th>
                          <th>Service Manager</th>
                          <th>Clients</th>
                          <th>Modality</th>
                          <th>Comment</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="active">
                          <td>1</td>
                          <td>Conferencing</td>
                          <td>10,000</td>
                          <td>10</td>
                          <td>UNDP</td>
                          <td>UNFPA, UNWOMEN, OHCHR</td>
                          <td>Outsource</td>
                          <td>N/A</td>
                        </tr>
                        <tr class="active">
                          <td>2</td>
                          <td>Printing</td>
                          <td>0</td>
                          <td>0</td>
                          <td>N/A</td>
                          <td>N/A</td>
                          <td>In-House</td>
                          <td>N/A</td>
                        </tr>
                        <tr class="active">
                          <td>3</td>
                          <td>Fuel</td>
                          <td>20,000</td>
                          <td>10</td>
                          <td>UNDP</td>
                          <td>UNFPA, UNWOMEN, OHCHR</td>
                          <td>In-House</td>
                          <td>N/A</td>
                        </tr>
                        <tr class="active">
                          <td>1</td>
                          <td>Conferencing</td>
                          <td>10,000</td>
                          <td>10</td>
                          <td>UNDP</td>
                          <td>UNFPA, UNWOMEN, OHCHR</td>
                          <td>Outsource</td>
                          <td>N/A</td>
                        </tr>
                        <tr class="active">
                          <td>2</td>
                          <td>Printing</td>
                          <td>0</td>
                          <td>0</td>
                          <td>N/A</td>
                          <td>N/A</td>
                          <td>In-House</td>
                          <td>N/A</td>
                        </tr>
                        <tr class="active">
                          <td>3</td>
                          <td>Fuel</td>
                          <td>20,000</td>
                          <td>10</td>
                          <td>UNDP</td>
                          <td>UNFPA, UNWOMEN, OHCHR</td>
                          <td>In-House</td>
                          <td>N/A</td>
                        </tr>
                        <tr class="active">
                          <td>1</td>
                          <td>Conferencing</td>
                          <td>10,000</td>
                          <td>10</td>
                          <td>UNDP</td>
                          <td>UNFPA, UNWOMEN, OHCHR</td>
                          <td>Outsource</td>
                          <td>N/A</td>
                        </tr>
                        <tr class="active">
                          <td>2</td>
                          <td>Printing</td>
                          <td>0</td>
                          <td>0</td>
                          <td>N/A</td>
                          <td>N/A</td>
                          <td>In-House</td>
                          <td>N/A</td>
                        </tr>
                        <tr class="active">
                          <td>3</td>
                          <td>Fuel</td>
                          <td>20,000</td>
                          <td>10</td>
                          <td>UNDP</td>
                          <td>UNFPA, UNWOMEN, OHCHR</td>
                          <td>In-House</td>
                          <td>N/A</td>
                        </tr>
                        <tr class="active">
                          <td>10</td>
                          <td>Conferencing</td>
                          <td>10,000</td>
                          <td>10</td>
                          <td>UNDP</td>
                          <td>UNFPA, UNWOMEN, OHCHR</td>
                          <td>In-House</td>
                          <td>N/A</td>
                        </tr>
                      </tbody>
                    </table>

                  </div>
                  <!-- /tile body -->
                

                  <!-- show code btn -->
                  <button class="btn show-code" data-toggle="modal" data-target="#table07CodeModal">
                    show code
                  </button>
                  <!-- /show code btn -->
          


                </section>
                <!-- /tile -->


              </div>
		<!-- /col 12 -->
	</div>
	<!-- /row -->
</div>
<!-- /content container -->