<!-- breadcrumbs -->
<div class="breadcrumbs">
  <?php $this->pageBreadcrumbs()->setItems(['Home'=>'','CBA - Staff Cost'=>'#']); echo $this->pageBreadcrumbs()->render(); ?>
</div>
<!-- /breadcrumbs -->

<?php $messages = $this->flashMessenger()->getMessages(); if(!empty($messages) && !is_array($messages[0])){ ?>
	<div style="padding:5px 30px 5px 16px; margin:10px;margin-top:35px;" class="alert alert-info alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	  	<?php echo $messages[0]; ?>
	</div>	
<?php } ?>

<!-- content main container -->
<div class="main">
	<!-- row -->
	<div class="row">
		<!-- col 12 -->
		<div class="col-md-12">
                
                
                <!-- tile -->
                <section class="tile cornered">


                  <!-- tile header -->
                  <div class="tile-header">
                    <h1><strong>CBA</strong> Staff Cost</h1>
                    <div class="controls">
                      <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
                      <a href="#" class="remove"><i class="fa fa-times"></i></a>
                    </div>
                  </div>
                  <!-- /tile header -->

                  <!-- tile body -->
                  <div class="tile-body nopadding">
                    
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Sr. No.</th>
                          <th>Grade Label</th>
                          <th>Staff Cost Annualy($)</th>
                          <th>Staff Cost Monthly($)</th>
                          <th>Staff Cost Daily($)</th>
                          <th>Staff Cost Hourly($)</th>
                          <th>Staff Cost Per Minute($)</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="active">
                          <td>1</td>
                          <td>D1/P6</td>
                          <td>0.00</td>
                          <td>0.00</td>
                          <td>0.00</td>
                          <td>0.00</td>
                          <td>0.00</td>
                        </tr>
                        <tr class="active">
                          <td>2</td>
                          <td>D2/P7</td>
                          <td>0.00</td>
                          <td>0.00</td>
                          <td>0.00</td>
                          <td>0.00</td>
                          <td>0.00</td>
                        </tr>
                        <tr class="active">
                          <td>3</td>
                          <td>P5</td>
                          <td>0.00</td>
                          <td>0.00</td>
                          <td>0.00</td>
                          <td>0.00</td>
                          <td>0.00</td>
                        </tr>
                        <tr class="active">
                          <td>4</td>
                          <td>P4</td>
                          <td>0.00</td>
                          <td>0.00</td>
                          <td>0.00</td>
                          <td>0.00</td>
                          <td>0.00</td>
                        </tr>
                        <tr class="active">
                          <td>5</td>
                          <td>P3</td>
                          <td>0.00</td>
                          <td>0.00</td>
                          <td>0.00</td>
                          <td>0.00</td>
                          <td>0.00</td>
                        </tr>
                        <tr class="active">
                          <td>6</td>
                          <td>P2</td>
                          <td>0.00</td>
                          <td>0.00</td>
                          <td>0.00</td>
                          <td>0.00</td>
                          <td>0.00</td>
                        </tr>
                        <tr class="active">
                          <td>7</td>
                          <td>P1</td>
                          <td>0.00</td>
                          <td>0.00</td>
                          <td>0.00</td>
                          <td>0.00</td>
                          <td>0.00</td>
                        </tr>
                        <tr class="active">
                          <td>8</td>
                          <td>NOA</td>
                          <td>0.00</td>
                          <td>0.00</td>
                          <td>0.00</td>
                          <td>0.00</td>
                          <td>0.00</td>
                        </tr>
                        <tr class="active">
                          <td>9</td>
                          <td>NOB</td>
                          <td>0.00</td>
                          <td>0.00</td>
                          <td>0.00</td>
                          <td>0.00</td>
                          <td>0.00</td>
                        </tr>
                        <tr class="active">
                          <td>10</td>
                          <td>NOC</td>
                          <td>0.00</td>
                          <td>0.00</td>
                          <td>0.00</td>
                          <td>0.00</td>
                          <td>0.00</td>
                        </tr>
                      </tbody>
                    </table>

                  </div>
                  <!-- /tile body -->
                

                  <!-- show code btn -->
                  <button class="btn show-code" data-toggle="modal" data-target="#table07CodeModal">
                    show code
                  </button>
                  <!-- /show code btn -->
          


                </section>
                <!-- /tile -->


              </div>
		<!-- /col 12 -->
	</div>
	<!-- /row -->
</div>
<!-- /content container -->