<div class="row">
	<div class="col-md-2">
		<div class="sidebar content-box" style="display: block;">
			<ul class="nav">
				<!-- Main menu -->
				<li><a href="<?php echo $this->url('admin/dashboard'); ?>"><i class="glyphicon glyphicon-home"></i>Dashboard</a></li>
				<li><a href="<?php echo $this->url('admin'); ?>"><i class="glyphicon glyphicon-home"></i>Users</a></li>
				<li><a href="<?php echo $this->url('admin/category'); ?>"><i class="glyphicon glyphicon-home"></i>Category</a></li>
				<li class="submenu"><a href="#"> <i class="glyphicon glyphicon-list"></i>Pages <span class="caret pull-right"></span>
				</a> <!-- Sub menu -->
					<ul>
						<li><a href="login.html">Login</a></li>
						<li><a href="signup.html">Signup</a></li>
					</ul></li>
			</ul>
		</div>
	</div>
	<div class="col-md-10">
		<div class="content-box-large">
  				<div class="panel-heading">
					<div class="panel-title">Categories</div>
				</div>
  				<div class="panel-body">
  				
				<div class="row">
					<div class="col-xs-6">
						<div id="example_length" class="dataTables_length">
							<label><select size="1" name="example_length"
								aria-controls="example"><option value="10" selected="selected">10</option>
									<option value="25">25</option>
									<option value="50">50</option>
									<option value="100">100</option></select> records per page</label>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="dataTables_filter" id="example_filter">
							<label class="pull-right">Search: <input aria-controls="example" type="text"></label>
						</div>
					</div>
				</div>
				
				<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
						<thead>
							<tr>
								<th>Sr. No.</th>
								<th>Title</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<?php if(!empty($this->categories)): ?>
								<?php $iTrator = 1; foreach ($this->categories as $category): ?>
									<tr class="<?php echo ($iTrator%2 == 0) ? 'odd gradeX' : 'even gradeC'; ?>">
										<td><?php echo $iTrator; ?></td>
										<td><?php echo $category['title']; ?></td>
										<td class="center">X</td>
									</tr>
								<?php $iTrator++; endforeach; ?>
							<?php endif; ?>							
						</tbody>
					</table>

					<div class="row">
						<div class="col-xs-6">
							<div class="dataTables_info" id="example_info">Showing 1 to 10 of
								57 entries</div>
						</div>
						<div class="col-xs-6">
							<?php 
								echo $this->paginationControl(
							    	$this->categories,
							    	'Sliding',
							    	'partial/pagination.phtml',
							    	['route' => 'admin/category']
								); 
							?>
						</div>
					</div>
					
			</div>
  			</div>
	</div>
</div>