<section class="section aboutus">
  <div class="container">
    <h2 class="section-title">Appleton <strong>Consulting Corporation</strong></h2>
    <p class="h5">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="ser-col">
          <div class="ser-ico">
            <i class="fa fa-globe" aria-hidden="true"></i>
          </div>
          <h3>Lorem ipsum dolor sit amet.
          </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="ser-col">
          <div class="ser-ico">
            <i class="fa fa-globe" aria-hidden="true"></i>
          </div>
          <h3>Lorem ipsum dolor sit amet.
          </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="ser-col">
          <div class="ser-ico">
            <i class="fa fa-globe" aria-hidden="true"></i>
          </div>
          <h3>Lorem ipsum dolor sit amet.
          </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="ser-col">
          <div class="ser-ico">
            <i class="fa fa-globe" aria-hidden="true"></i>
          </div>
          <h3>Lorem ipsum dolor sit amet.
          </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="ser-col">
          <div class="ser-ico">
            <i class="fa fa-globe" aria-hidden="true"></i>
          </div>
          <h3>Lorem ipsum dolor sit amet.
          </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="ser-col">
          <div class="ser-ico">
            <i class="fa fa-globe" aria-hidden="true"></i>
          </div>
          <h3>Lorem ipsum dolor sit amet.
          </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section sec-rm">
  <div class="container">
  <div class="row">
    <div class="col-md-8 col-sm-8 col-xs-12">
      <h2 class="section-title">The <strong>Cutting Edge Of Business</strong></h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <a href="#" class="btn">Read More <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
    </div>
  </div>

    
  </div>
</section>
<section class="section testimonial">
  <div class="container">
    <div class="testmonial-wrap">
    <img src="img/testimonial-img.jpg">
    <div class="testimonial-text">
      <h3><strong>Consultancy</strong> like never before with the <strong>best team.</strong></h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
      <p class="testimonial-by">- John McHill</p>
      <p>(CEO)</p>
    </div>
    </div>
  </div>
</section>
<section class="section ourclients">
  <div class="container">
    <h2 class="section-title">Our <strong>Clients</strong></h2>
    <p class="h5">a global business process reengineering consultancy firm</p>
    <div class="row">
    <div class="col-md-3 text-center">
    <img src="img/brand-logo.jpg">
    </div>
    <div class="col-md-3 text-center">
    <img src="img/brand-logo.jpg">
    </div>
    <div class="col-md-3 text-center">
    <img src="img/brand-logo.jpg">
    </div>
    <div class="col-md-3 text-center">
    <img src="img/brand-logo.jpg">
    </div>
    </div>
  </div>
</section>
