<div id="wrapper">
    <a href="/" class="logo-registation"><img src="img/logo-appleton.png"></a>
    <h1>Registation form </h1>
    <form name="customer_register" id="customer_register">
        <div class="col-3">
            <label>
                First Name
                <input placeholder="What is your first name?" id="first_name" name="first_name">
            </label>
        </div>
        <div class="col-3">
            <label>
                Middle Name
                <input placeholder="What is your middle name?" id="middle_name" name="middle_name">
            </label>
        </div>
        <div class="col-3">
            <label>
                Last Name
                <input placeholder="What is your last name?" id="last_name" name="last_name" tabindex="2">
            </label>
        </div>
        <div class="col-2">
            <label>
                Address Type
                <select name="address_type" id="address_type">
                    <option value="">-Select Address Type-</option>
                    <option value="Business">Business</option>
                    <option value="Self Business">Self Business</option>
                    <option value="Commerical">Commerical</option>
                </select>
            </label>
        </div>
        <div class="col-2">
            <label>
                Country
                <select name="country" id="country">
                    <option value="">-Select Country-</option>
                    <option value="1">America</option>
                    <option value="2">Australia</option>
                    <option value="3">Canada</option>
                </select>
            </label>
        </div>
        <div class="col-3">
            <label>
                Address
                <input placeholder="What is  your Address?" id="add1" name="address" id="address">
            </label>
        </div>
        <div class="col-3">
            <label>
                City
                <input placeholder="What is your City Name ?" id="city" name="city">
            </label>
        </div>
        <div class="col-3">
            <label>
                State
                <select id="state" name="state">
                    <option value="">-Select State-</option>
                    <option value="America">America</option>
                    <option value="Australia">Australia</option>
                    <option value="Canada">Canada</option>
                </select>
            </label>
        </div>
        <div class="col-4">
            <label>
                Postal
                <input placeholder="What is your Postal Code?" id="postal" name="postal">
            </label>
        </div>
        <div class="col-4">
            <label>
                Phone Type
                <select id="phone_type" name="phone_type">
                    <option value="">-Select Phone Type-</option>
                    <option>Personal</option>
                    <option>Business</option>
                </select>
            </label>
        </div>
        <div class="col-4">
            <label>
                Int'I Prefix
                <input placeholder="What is your Int'I Prefix?" id="prefix" name="prefix">
            </label>
        </div>
        <div class="col-4">
            <label>
                *Phone
                <input placeholder="What is your Phone Number?" id="phone_number" name="phone_number">
            </label>
        </div>
        <div class="col-submit">
            <input type="submit" class="submitbtn" name="submit" id="submit" value="Submit Form" />
        </div>
    </form>
</div>

<script>
 $.validator.addMethod("valueNotEquals", function(value, element, arg){
  return arg != value;
 }, "Value must not equal arg.");

$("#customer_register").validate({
  rules: {
    first_name: { required: true, minlength: 3 },
    address_type: { valueNotEquals: "" },
    country: { valueNotEquals: "" },
    address: { required: true },
    city: { required: true },
    state: { valueNotEquals: "" },
    postal: { required: true },
    phone_type: {valueNotEquals: ""},
    prefix: { required: true },
    phone_number: { required: true }
  },
  messages: {
    first_name: {
      required: "First Name can't be empty.",
      minlength: jQuery.validator.format("At least {0} characters required!")
    },
    address_type: { valueNotEquals: "Please select Address Type." },
    country: { valueNotEquals: "Please select Country." },
    address: { required: "Please select address." },
    city: { required: "Please select city." },
    state: { valueNotEquals: "Please select state." },
    postal: { required: "Postal code can't be empty." },
    phone_type: { valueNotEquals: "Please select phone type." },
    prefix: { required: "Prefix can't be empty." },
    phone_number: { required: "Phone number can't be empty." }
  }
});
</script>